<div class="row">
  <div class="col-md-6">
    <app-card cardTitle="Inline Text Elements" [options]="false">
      <p class="lead m-t-0">Your title goes here</p>
      You can use the mark tag to
      <mark>highlight</mark> text.
      <br>
      <del>This line of text is meant to be treated as deleted text.</del>
      <br>
      <ins>This line of text is meant to be treated as an addition to the document.</ins>
      <br>
      <strong>rendered as bold text</strong>
      <br>
      <em>rendered as italicized text</em>
    </app-card>
  </div>
  <div class="col-md-6">
    <app-card cardTitle="Contextual Text Colors" [options]="false">
      <p class="text-muted mb-1">
        Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.
      </p>
      <p class="text-primary mb-1">
        Nullam id dolor id nibh ultricies vehicula ut id elit.
      </p>
      <p class="text-success mb-1">
        Duis mollis, est non commodo luctus, nisi erat porttitor ligula.
      </p>
      <p class="text-info mb-1">
        Maecenas sed diam eget risus varius blandit sit amet non magna.
      </p>
      <p class="text-warning mb-1">
        Etiam porta sem malesuada magna mollis euismod.
      </p>
      <p class="text-danger mb-1">
        Donec ullamcorper nulla non metus auctor fringilla.
      </p>
      <p class="text-dark mb-1">
        Nullam id dolor id nibh ultricies vehicula ut id elit.
      </p>
    </app-card>
  </div>
  <div class="col-md-6 col-lg-4">
    <app-card cardTitle="Unordered" [options]="false">
      <ul>
        <li>Lorem ipsum dolor sit amet</li>
        <li>Consectetur adipiscing elit</li>
        <li>Integer molestie lorem at massa</li>
        <li>Facilisis in pretium nisl aliquet</li>
        <li>Nulla volutpat aliquam velit
          <ul>
            <li>Phasellus iaculis neque</li>
            <li>Purus sodales ultricies</li>
            <li>Vestibulum laoreet porttitor sem</li>
            <li>Ac tristique libero volutpat at</li>
          </ul>
        </li>
        <li>Faucibus porta lacus fringilla vel</li>
        <li>Aenean sit amet erat nunc</li>
        <li>Eget porttitor lorem</li>
      </ul>
    </app-card>
  </div>
  <div class="col-md-6 col-lg-4">
    <app-card cardTitle="Ordered" [options]="false">
      <ol>
        <li>Lorem ipsum dolor sit amet</li>
        <li>Consectetur adipiscing elit</li>
        <li>Integer molestie lorem at massa</li>
        <li>Facilisis in pretium nisl aliquet</li>
        <li>Nulla volutpat aliquam velit
          <ul>
            <li>Phasellus iaculis neque</li>
            <li>Purus sodales ultricies</li>
            <li>Vestibulum laoreet porttitor sem</li>
            <li>Ac tristique libero volutpat at</li>
          </ul>
        </li>
        <li>Faucibus porta lacus fringilla vel</li>
        <li>Aenean sit amet erat nunc</li>
        <li>Eget porttitor lorem</li>
      </ol>
    </app-card>
  </div>
  <div class="col-md-6 col-lg-4">
    <app-card cardTitle="Unstyled" [options]="false">
      <ul class="list-unstyled">
        <li>Lorem ipsum dolor sit amet</li>
        <li>Integer molestie lorem at massa
          <ul>
            <li>Phasellus iaculis neque</li>
          </ul>
        </li>
        <li>Faucibus porta lacus fringilla vel</li>
        <li>Eget porttitor lorem</li>
      </ul>
      <h5>Inline</h5>
      <hr>
      <ul class="list-inline m-b-0">
        <li class="list-inline-item">Lorem ipsum</li>
        <li class="list-inline-item">Phasellus iaculis</li>
        <li class="list-inline-item">Nulla volutpat</li>
      </ul>
    </app-card>
  </div>
</div>
