<div class="row">
  <app-loading></app-loading>
  <app-messages></app-messages>
  <!-- [ basic-collapse ] start -->
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <!--          <form [formGroup]="registerForm" action="javascript:" class="row row-cols-md-auto g-3 align-items-center was-validated" >-->
        <form [formGroup]="registerForm" action="javascript:" class="row  g-3 align-items-center ">
          <div class="col-md-3">
            <label for="inlineFormInputName">اسم المستخدم</label>
            <input
              type="text" required formControlName="name" class="form-control" id="inlineFormInputName" />
            <!--              <div  class="invalid-feedback">رجاء ادخال اسم المستخدم</div>-->
          </div>
          <div class="col-md-3">
              <label>المجموعة</label>
            <select  formControlName="roleId" class="form-select" required aria-label="select example">
              <option value="" selected disabled>اختر ...</option>
              <option *ngFor="let item of permissionFacade.GroupsMenu$  | async"
                      [value]="item.id">{{ item.name }}
              </option>
            </select>
          </div>
          <div class="col-md-3">
            <label>الموظف</label>
            <select formControlName="employeeId" class="form-select"  aria-label="select example">
              <option value="" selected disabled>اختر ...</option>
              <option *ngFor="let item of  employeeFacade.employee$ | async"
                      [value]="item.id">{{ item.name }}
              </option>
            </select>
          </div>
          <div class="col-md-3">
            <label for="inlineFormInputUserName">اسم الدخول</label>
            <input
              type="text" required formControlName="userName" class="form-control" id="inlineFormInputUserName" />
            <!--              <div  class="invalid-feedback">رجاء ادخال اسم الدخول</div>-->
          </div>

          <div class="col-md-3" *ngIf="f.changePassword.value || !edit ">
          <label for="inlineFormInputPassword">كلمة المرور</label>
          <input  type="password" [required]="!edit" formControlName="password" class="form-control" id="inlineFormInputPassword" />
<!--                          <div *ngIf="f.password.invalid && (f.password.dirty || f.password.touched)" class="invalid-feedback">يجب أن تكون كلمة المرور بطول بين 6 إلى 16 حرف وتتضمن على الأقل حرف صغير واحد وحرف كبير واحد ورقم واحد وحرف خاص </div>-->
                          <div *ngIf="f.password.invalid && (f.password.dirty )" class="invalid-feedback">يجب أن تكون كلمة المرور بطول بين 6 إلى 16 حرف وتتضمن على الأقل حرف صغير واحد وحرف كبير واحد ورقم واحد وحرف خاص </div>
          </div>
          <div class="col-md-3" *ngIf="f.changePassword.value || !edit">
          <label for="inlineFormInputConfirmPassword">تأكيد كلمة المرور</label>
          <input [required]="!edit" type="password"  formControlName="confirmPassword" class="form-control" id="inlineFormInputConfirmPassword" />
                          <div *ngIf="f.confirmPassword.invalid && (f.password.value != f.confirmPassword.value)" class="invalid-feedback">رجاء تأكد من كلمة المرور </div>
          </div>
          <div class="col-md-3"  *ngIf="edit">
            <input formControlName="changePassword"  type="checkbox" class="form-check-input" id="inlineFormCheckPass" (change)="changePass()" />
            <label for="inlineFormCheckPass" class="form-check-label px-2"> تغيير كلمة المرور</label>
          </div>
          <div class="col-md-2">
            <input formControlName="isActive" type="checkbox" class="form-check-input" id="inlineFormCheckActive" />
            <label   for="inlineFormCheckActive" class="form-check-label px-2">نشط</label>
          </div>
          <div class="col-12">
            <button type="button" (click)="onAdd()" class="btn btn-md btn-themeAdd has-ripple">حفظ</button>
            <button type="button" (click)="onReset()" class="btn btn-md btn-themeNew has-ripple">جديد</button>
          </div>
        </form>


      </div>
    </div>
  </div>
  <div class="col-xl-12">
    <app-card cardTitle="المستخدمين" [options]="false" blockClass="table-border-style">
      <div class="table-responsive">
        <table class="table table-striped  table-hover">
          <thead>
          <th>اسم المستخدم</th>
          <th>المجموعة</th>
          <th>الموظف</th>
          <th>حالة المستخدم</th>
          <th></th>
          </thead>
          <tbody>
          <tr *ngFor="let item of usersFacade.Users$ | async; let i = index">
            <td>{{ item.name }}</td>
            <td>{{ item.roleName }}</td>
            <td>{{ item.employeeName }}</td>
            <td>{{ item.isActive ? ' نشط' : 'غير نشط' }}</td>
            <td class="td-actions ">
              <!--              <button (click)="onEdit(item)" type="button" class="btn btn-icon btn-warning"><i class="feather icon-edit"></i></button>-->
              <!--              <button  (click)="onDelete(item.id)" type="button" class="btn btn-icon btn-danger"><i class="feather icon-x"></i></button>-->
              <a mat-button (click)="onEdit(item)" type="button"
                 aria-hidden="true" class="edit mat-button " data-notify="dismiss"> <i
                class="material-icons text-warning">edit</i></a>
              <a mat-button (click)="onDelete(item.id)" type="button" aria-hidden="true" class="close mat-button"
                 data-notify="dismiss"> <i class="material-icons text-danger">close</i></a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </app-card>
  </div>
</div>



