<div class="row btn-page">
  <div class="col-sm-12">
    <app-card cardTitle="Basic Collapse" [options]="false">
      <a class="btn btn-primary text-white" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">Link with href</a>
      <button class="btn btn-primary" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">Button with data-target</button>
      <div id="collapseExample" [ngbCollapse]="isCollapsed">
        <p class="mt-3"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. </p>
      </div>
    </app-card>
  </div>
  <div class="col-sm-12">
    <app-card cardTitle="Multiple Targets" [options]="false" blockClass="pb-0">
      <a class="btn btn-primary text-white" (click)="multiCollapsed1 = !multiCollapsed1" [attr.aria-expanded]="!multiCollapsed1" aria-controls="multiCollapseExample1">Toggle first element</a>
      <button class="btn btn-primary" (click)="multiCollapsed2 = !multiCollapsed2" [attr.aria-expanded]="!multiCollapsed2" type="button" aria-controls="multiCollapseExample2">Toggle second element</button>
      <button class="btn btn-primary" type="button" (click)="multiCollapsed1 = !multiCollapsed1; multiCollapsed2 = !multiCollapsed2" aria-controls="multiCollapseExample1 multiCollapseExample2">Toggle both elements</button>
      <div class="row">
        <div class="col mt-3">
          <div class="multi-collapse" id="multiCollapseExample1" [ngbCollapse]="multiCollapsed1">
            <p>Anim pariatur cliche reprehended, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
          </div>
        </div>
        <div class="col mt-3">
          <div class="multi-collapse" id="multiCollapseExample2" [ngbCollapse]="multiCollapsed2">
            <p>Anim pariatur cliche reprehended, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
          </div>
        </div>
      </div>
    </app-card>
  </div>
  <div class="col-sm-12">
    <h5>Accordion Example</h5>
      <ngb-accordion [closeOthers]="true" activeIds="static-1" class="able-pro-accordion">
        <ngb-panel id="static-1">
          <ng-template ngbPanelTitle>
            <h5><a href="javascript:">Collapsible Group Item #1</a></h5>
          </ng-template>
          <ng-template ngbPanelContent>
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
            aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
            sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
            craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
            occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
            labore sustainable VHS.
          </ng-template>
        </ngb-panel>
        <ngb-panel id="static-2">
          <ng-template ngbPanelTitle>
            <h5><a href="javascript:">Collapsible Group Item #2</a></h5>
          </ng-template>
          <ng-template ngbPanelContent>
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
            aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
            sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
            craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
            occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
            labore sustainable VHS.
          </ng-template>
        </ngb-panel>
        <ngb-panel id="static-3">
          <ng-template ngbPanelTitle>
            <h5><a href="javascript:">Collapsible Group Item #3</a></h5>
          </ng-template>
          <ng-template ngbPanelContent>
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
            aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
            sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
            craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
            occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
            labore sustainable VHS.
          </ng-template>
        </ngb-panel>
      </ngb-accordion>

  </div>
</div>
