<div class="auth-wrapper">
  <div class="auth-content">
    <div class="auth-bg">
      <span class="r"></span>
      <span class="r s"></span>
      <span class="r s"></span>
      <span class="r"></span>
    </div>
    <div class="card">
      <div class="card-body text-center">
        <h5 class="mb-4">Profile Settings</h5>
        <img src="assets/images/user/avatar-3.jpg" class="img-radius mb-4" alt="User-Profile-Image">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Name">
        </div>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="User Name">
        </div>
        <div class="text-left">
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="customControlValidation2" name="radio-stacked" required>
            <label class="custom-control-label" for="customControlValidation2">Private Profile</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline mb-3">
            <input type="radio" class="custom-control-input" id="customControlValidation3" name="radio-stacked" required>
            <label class="custom-control-label" for="customControlValidation3">Public Profile</label>
          </div>
        </div>
        <button class="btn btn-primary mb-4">Register</button>
        <p class="mb-0 text-muted">Don’t have an account? <a [routerLink]="['/auth/signup']">Sign up</a></p>
      </div>
    </div>
  </div>
</div>
