
<!--<div *ngIf="showAlert && (messageContent$ | async) as message" class="alert alert-{{message.type}} alert-dismissible fade show" role="alert">-->
<!--    {{message.text}}-->
<!--    <button type="button" class="close" (click)="closeAlert()" aria-label="Close">-->
<!--        <span aria-hidden="true">&times;</span>-->
<!--    </button>-->
<!--</div>-->


<!--<div *ngIf="showAlert && (sharedFacade.messages$ | async) as message" data-notify="container" class="col-xl-4 col-lg-4 col-11 col-sm-4 col-md-4 alert alert-{0} alert-with-icon" role="alert">-->
<!--  <button mat-button  (click)="closeAlert()" type="button" aria-hidden="true" class="close mat-button" data-notify="dismiss">  <i class="material-icons">close</i></button>-->
<!--  <i class="material-icons" data-notify="icon">notifications</i>-->
<!--  <span data-notify="title">{{message.title}}</span>-->
<!--  <span data-notify="message">{{message.text}}</span>-->
<!--  <div class="progress" data-notify="progressbar">-->
<!--    <div class="progress-bar progress-bar-{0}" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>-->
<!--    </div>-->
<!--  <a href="top" target="center" data-notify="url"></a>-->
<!--  </div>-->
