.spinnerDiv{
    position: absolute;
    top: 45%;
    z-index: 10;
    left: 50%;
}
.spinner-container{
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.spinnerDiv::after{
    content:  'الرجاء الانتظار';
    width: 30px;
    height: 30px;
    color: gray;
    opacity: 0.8;
    font-size: 24px;
    position: relative;
}

.overlay {
  z-index: 9;
  //margin: 30px;
}


