<div class="row">
  <app-loading></app-loading>
  <app-messages></app-messages>
  <!-- [ basic-collapse ] start -->
  <div class="col-sm-12">
     <div class="card">
       <div class="card-body">
         <form [formGroup]="registerForm" action="javascript:" class="row  g-3 align-items-center ">

         <!--            <div class="row">-->
              <div class="col-md-2" >
                <label> الموظف</label>
                <!--            //no job-->
                <!--            <select  formControlName="employeeName" class="form-select" required aria-label="select example">-->
                <select (change)="onchange()" formControlName="employeeName" class="form-select" required aria-label="select example">
                  <option value="" selected disabled>اختر ...</option>
                  <option *ngFor="let item of  employeeFacade.employee$ | async"
                          [value]="item.name">{{ item.name }}
                  </option>
                </select>
              </div>
              <div class="col-md-2" >
                <label> رقم الموظف</label>
                <input
                  type="text" class="form-control" required formControlName="code"  id="employeeCode"   />

              </div>

              <div class="col-md-2"  >
                <label> رقم هاتف الموظف</label>
                <input
                  type="text" required formControlName="phoneNumber" class="form-control" id="phoneNumber"   />
              </div>

              <div class="col-md-3  align-self-end">
                <button type="button" class="btn btn-outline-info" (click)="onSearch()">
                  بحث
                  <i class="feather icon-info"></i>
                </button>
              </div>
<!--            </div>-->
          </form>
<!--            <hr/>-->

         <form  [formGroup]="registerFormRequest"  action="javascript:">
          <div class="col" *ngIf="((reClassificationFacade.Employee$ | async ) != null)  && rest ">
            <div class="col-md-12" >
              <h5 class="mt-5">بيانات الموظف</h5>
              <hr />

                <div class="form-group row">
                  <div class="col-sm-3">
                    <label >رقم الموظف</label>
                    <input
                      type="text" disabled [value]="(reClassificationFacade.Employee$ | async).employeeCode"  class="form-control" />
                  </div>
                  <div class="col-sm-3">
                    <label >اسم الموظف</label>
                    <input
                      type="text"  disabled [value]="(reClassificationFacade.Employee$ | async).name" class="form-control"  />
                  </div>
                  <div class="col-sm-3">
                    <label>الإدارة</label>
                    <input
                      type="text"  [disabled]="true"  [value]="(reClassificationFacade.Employee$ | async).managementName" class="form-control" />
                  </div>
                  <div class="col-sm-3">
                    <label >الموقع </label>
                    <input
                      type="text" [disabled]="true"  [value]="(reClassificationFacade.Employee$ | async).locationName" class="form-control" />
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-3">
                    <label>رقم جواز السفر</label>
                    <input
                      type="text"  [disabled]="true"  [value]="(reClassificationFacade.Employee$ | async).passportNumber" class="form-control" />
                  </div>
                  <div class="col-sm-3">
                    <label>تاريخ الميلاد</label>
                    <input
                      type="text"  [disabled]="true"  [value] ="(this.reClassificationFacade.Employee$ |async).birthDate | date " class="form-control" />
                  </div>
                  <div class="col-sm-3">
                    <label >الراتب الاساسي </label>
                    <input
                      type="text" [disabled]="true"  [value]="(reClassificationFacade.Employee$ | async).basicSalary" class="form-control" />
                  </div>
                  <div class="col-sm-3">
                    <label>حالة الإجتماعية للراتب</label>
                    <input
                      type="text"  [disabled]="true"  [value]=" getLabelFormOptions(optionsSocialStatus,(this.reClassificationFacade.Employee$ |async).socialStatusSalaries) " class="form-control" />
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-3">
                    <label > رمز الوظيفة </label>
                    <input
                      type="text" [disabled]="true"  [value]="(reClassificationFacade.Employee$ | async).jobCode" class="form-control" />

                  </div>
                  <div class="col-sm-3">
                    <label >رقم الوظيفة </label>
                    <input
                      type="text" [disabled]="true"  [value]="(reClassificationFacade.Employee$ | async).positionCode" class="form-control" />

                  </div>
                  <div class="col-sm-3">
                    <label >العمل الإضافي </label>
                    <input
                      type="text" [disabled]="true"   [value]=" getLabelFormOptions(optionsOvertime,(this.reClassificationFacade.Employee$ |async).overtime) " class="form-control" />
                  </div>
                    <div class="col-sm-3">
                    <label >الوظيفة </label>
                    <input
                      type="text" [disabled]="true"  [value]="(reClassificationFacade.Employee$ | async).jobTitleName" class="form-control" />

                    </div>

                </div>
                <div class="form-group row">

                  <div class="col-sm-3">
                    <label > نوع الراتب </label>
                    <input
                      type="text" [disabled]="true"   [value]=" getLabelFormOptions(optionsPayrollStatus,(this.reClassificationFacade.Employee$ |async).payrollStatus) " class="form-control" />
                  </div>
                    <div class="col-sm-3">
                    <label >رمز الاجراء </label>
                    <input
                    type="text" [disabled]="true"  value="07" class="form-control" />
                    </div>
                  <div class="col-sm-3">
                    <label >تاريخ السريان </label>
                    <input
                    type="text" [disabled]="true"  [value]="(reClassificationFacade.Employee$ | async).effDate | date" class="form-control" />
                    </div>

                </div>

            </div>
            <div class="col-md-12" >
              <h5 class="mt-5">تحديث بيانات</h5>
              <hr />
              <div class="form-group row">
              <div class=" col-md-3 ">
                <label>رمز الوظيفة</label>
                <select  formControlName="jobTitleId" class="form-select" required aria-label="select example">
                  <option value="-1" selected disabled>اختر...</option>
                  <option   *ngFor="let item of  jobTitleFacade.JobTitles$ | async"
                            [value]="item.id">{{ item.jobCode }}
                  </option>
                </select>
              </div>
              <div class=" col-md-3 ">
                <label for="basicSalary" class="form-label">المرتب الاساسي</label>
                <input type="text" class="form-control" id="basicSalary"  formControlName="basicSalary" >
              </div>
              <div class=" col-md-3">
                <label>حالة الإجتماعية للرواتب</label>
                <select formControlName="socialStatusSalaries" class="form-select"  aria-label="select example"  id="socialStatusSalaries"   >
                  <option value="" selected disabled>اختر ...</option>
                  <option *ngFor="let item of optionsSocialStatus"
                          [value]="item.value">{{ item.label }}
                  </option>
                </select>

              </div>
              </div>
              <div class="form-group row">
              <div class=" col-md-3">
                <label>العمل الإضافي </label>
                <select formControlName="overtime" class="form-select"  aria-label="select example"  id="overtime"   >
                  <option value="" selected disabled>اختر ...</option>
                  <option *ngFor="let item of optionsOvertime"
                          [value]="item.value">{{ item.label }}
                  </option>
                </select>
              </div>
              <div class=" col-md-3">
                <label >تاريخ السريان</label>
                <input
                  type="datetime-local"  formControlName="effDate" class="form-control" id="effDate"   />
              </div>
              <div class=" col-md-3">
                <label >رمز الاجراء </label>
                <input
                  type="text" [disabled]="true"  value="07" class="form-control" />
              </div>
              </div>
            </div>
            <div class="col-12  " *ngIf="((reClassificationFacade.Employee$ | async ) != null) ">
              <button type="button" (click)="onReClassification()"   class="btn btn-md btn-themeAdd has-ripple">حفظ</button>
              <button type="button" (click)="onReset()" class="btn btn-md btn-themeNew has-ripple">جديد</button>
            </div>
          </div>

          </form>

        </div>
    </div>

  </div>
<!--  <div class="col-xl-12">-->
<!--    <app-card cardTitle="البحث" [options]="false" blockClass="table-border-style">-->
<!--      <form action="javascript:" action="javascript:" class="row row-cols-md-auto g-3 align-items-center ">-->
<!--        <div class="form-group col-md-2">-->
<!--                        <label> اسم المصحة</label>-->
<!--                        <select (change)="onChangeClinic($event.target)"  class="form-select" required aria-label="select example">-->
<!--                          <option value="-1" selected >الكل</option>-->
<!--                          <option *ngFor="let item of optionsClinic "-->
<!--                                  [value]="item.value">{{ item.label }}-->
<!--                          </option>-->
<!--                        </select>-->
<!--                      </div>-->
<!--      </form>-->
<!--<br>-->
<!--      <div class="table-responsive">-->
<!--      <table class="table table-striped  table-hover">-->
<!--          <thead>-->
<!--          <th>رمز الموظف</th>-->
<!--          <th>اسم الموظف بالعربي</th>-->
<!--          <th>اسم المصحة</th>-->
<!--          <th>عدد أفراد العائلة</th>-->
<!--            <th></th>-->
<!--          </thead>-->
<!--          <tbody>-->
<!--          <tr *ngFor="let item of reClassificationFacade.Clinics$ | async; let i = index">-->
<!--            <td>{{item.employeeCode}}</td>-->
<!--            <td>{{item.name}}</td>-->
<!--            <td>مصحة طرابلس</td>-->
<!--            <td>{{item.familyData.length}}</td>-->
<!--            <td class="td-actions ">-->
<!--            <a mat-button (click)="onEdit(item)" type="button" aria-hidden="true" class="edit mat-button " data-notify="dismiss">  <i class="material-icons text-warning">edit</i></a>-->
<!--&lt;!&ndash;              <a mat-button   (click)="onDelete(item.id)" type="button" aria-hidden="true" class="close mat-button" data-notify="dismiss">  <i class="material-icons text-danger">close</i></a>&ndash;&gt;-->

<!--            </td>-->
<!--          </tr>-->
<!--       </tbody>-->
<!--      </table>-->
<!--      </div>-->
<!--    </app-card>-->
<!--  </div>-->

</div>









