<div class="pc-footer">
  <div class="footer-wrapper container-fuild">
    <div class="row">
      <div class="col my-1">
        <p class="m-0">
          Datta able ♥ crafted by Team
          <a href="https://codedthemes.com/" target="_blank">CodedThemes</a>
        </p>
      </div>
      <div class="col-auto my-1">
        <ul class="list-inline footer-link mb-0">
          <li class="list-inline-item">
            <a href="https://codedthemes.com" target="_blank">Home</a>
          </li>
          <li class="list-inline-item">
            <a href="https://codedthemes.gitbook.io/datta-angular" target="_blank">Documentation</a>
          </li>
          <li class="list-inline-item">
            <a href="https://codedthemes.support-hub.io" target="_blank">Support</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
