<div class="row">
  <app-loading></app-loading>
  <app-messages></app-messages>
  <!-- [ basic-collapse ] start -->
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <div class="container mt-5">
          <div class="step-circles d-flex justify-content-between  mb-5">
            <div class="step">
              <div class="step-circle" [ngClass]="{'completed': firstFormGroup.valid && currentStep > 1}">
                <span>1</span>
              </div>

              <h6 >بيانات الوظيفة</h6>
            </div>
            <div class="step">
              <div class="step-circle" [ngClass]="{'completed': secondFormGroup.valid && currentStep > 2}">
                <span>2</span>
              </div>
              <h6>بيانات الشخصية</h6>
            </div>
            <div class="step" >
              <div class="step-circle" [ngClass]="{'completed': threeFormGroup.valid && currentStep > 3}">
                <span>3</span>
              </div>
              <h6>  بيانات توظيف </h6>
            </div>
          </div>

          <div class="steps">
            <div class="step" *ngIf="currentStep === 1">
              <div class="step-header">
              </div>
              <form [formGroup]="firstFormGroup">
                <div class="row">
                  <div class="form-group col-md-3 ">
                    <label for="positionIdView" class="form-label">رقم الوظيفة</label>
                    <input type="text" class="form-control" id="positionIdView"  formControlName="positionIdView" >
<!--                    <div *ngIf="getControl(firstFormGroup, 'positionIdView')?.invalid && (getControl(firstFormGroup, 'positionIdView')?.dirty || getControl(firstFormGroup, 'positionIdView')?.touched)" class="text-danger">-->
<!--                      رجاء ادخل رقم الوظيفة.-->
<!--                    </div>-->
                  </div>
                  <div class="col-md-3  align-self-center">
                    <button (click)="changePosition2()" type="button" class="btn btn-icon btn-rounded btn-outline-info">
                      <i class="feather icon-search"></i>
                    </button>
<!--                    <button type="button" class="btn btn-outline-info" (click)="changePosition2()">-->
<!--                      بحث-->
<!--                      <i class="feather icon-info"></i>-->
<!--                    </button>-->
                  </div>
                </div>
                <div class="row">
<!--                  <div class="form-group col-md-3 ">-->
<!--&lt;!&ndash;                    <label>رمز المنصب</label>&ndash;&gt;-->
<!--                    <label>رقم الوظيفة</label>-->
<!--                    <select  (change)="changePosition()" formControlName="positionId" class="form-select" id="positionId"  required aria-label="select example">-->
<!--                      <option value="" selected disabled>اختر...</option>-->
<!--                      <option *ngFor="let item of  definitionPositionFacade.position$ | async"-->
<!--                              [value]="item.id">{{ item.positionCode }}-->
<!--                      </option>-->
<!--                    </select>-->
<!--                    <div *ngIf="getControl(firstFormGroup, 'positionId')?.invalid && (getControl(firstFormGroup, 'positionId')?.dirty || getControl(firstFormGroup, 'positionId')?.touched)" class="text-danger">-->
<!--                      رجاء اختر رقم الوظيفة.-->
<!--                    </div>-->
<!--                  </div>-->
                  <div class="form-group col-md-3 ">
                    <label for="jobTitleName" class="form-label">	اسم الوظيفة </label>
                    <input type="text" class="form-control" id="jobTitleName" [disabled]="true" formControlName="jobTitleName" >
                  </div>
                  <div class="form-group col-md-3 ">
                    <label for="jobCodeName" class="form-label">رمز الوظيفة </label>
                    <input type="text" class="form-control" id="jobCodeName" [disabled]="true" formControlName="jobCode" >
                  </div>
                  <div class="form-group col-md-3 ">
                    <label for="jobClassificationName" class="form-label">فئة الوظيفية </label>
                    <input type="text" class="form-control" id="jobClassificationName" [disabled]="true" formControlName="jobClassificationName" >
                  </div>

                </div>
                <div class="row">
<!--                  <div class="form-group col-md-3 " >-->
<!--                    <label for="organizationStructureName" class="form-label">	الوحدة التنظيمية </label>-->
<!--                    <input type="text" class="form-control" id="organizationStructureName" [disabled]="true" formControlName="organizationStructureName" >-->

<!--                  </div>-->
<!--                  <div  *ngFor="let item of getControl(firstFormGroup, 'unitList')?.value   ; let i = index">-->
                  <div class=" form-group col-md-3 "  *ngFor="let item of getControl(firstFormGroup, 'unitList')?.value   ; let i = index">
                  <label  class="form-label">{{i==0? 'الوحدة التنظيمية ':'تتبع لـ'}}</label>
                  <input type="text"  class="form-control"  [disabled]="true" [value]="item.name" >
                  </div>
<!--                  </div>-->
<!--                  <div class="form-group col-md-3 " *ngIf="getControl(firstFormGroup, 'organizationalUnitNumber')?.value != ''">-->
<!--                  <label for="specificUnit" class="form-label">الوحدات</label>-->
<!--                  <input type="text" class="form-control" id="specificUnit" [disabled]="true" formControlName="specificUnit" >-->
<!--                </div>-->

                </div>
                <div class="row">

                  <div class="form-group col-md-3 ">
                    <label for="locationName" class="form-label">	اسم الموقع  -  رمز الموقع </label>
                    <input type="text" class="form-control" id="locationName" [disabled]="true" formControlName="locationName" >
                  </div>

                  <div class="form-group col-md-3 ">
                    <label for="costCenterCode" class="form-label">	رمز التكلفة </label>
                    <input type="text" class="form-control" id="costCenterCode" [disabled]="true" formControlName="costCenter" >
                  </div>
                </div>


                <br>
                <div class="d-flex justify-content-between">
                 <button type="button" class="btn btn-md btn-themeNew has-ripple" (click)="resetStepper()">جديد</button>
                  <button type="button" class="btn btn-md btn-themeAdd has-ripple" (click)="nextStep()">التالي</button>
                </div>
              </form>
            </div>

            <div class="step" *ngIf="currentStep === 2">
              <div class="step-header">
              </div>
              <form [formGroup]="secondFormGroup">
                <div class="row">
                <div class="form-group col-md-3">
                  <label for="name" class="form-label">اسم باللغة العربية</label>
                  <input type="text" class="form-control" id="name" formControlName="name" required>
                  <div *ngIf="getControl(secondFormGroup, 'name')?.invalid && (getControl(secondFormGroup, 'name')?.dirty || getControl(secondFormGroup, 'name')?.touched)" class="text-danger">
                    رجاء ادخال الاسم وباللغة العربية.
                  </div>
                </div>
                <div class="form-group col-md-3">
                  <label for="nameEn" class="form-label">اسم باللغة الإنجليزية</label>
                  <input type="text" class="form-control" id="nameEn" formControlName="nameEn" required>
                  <div *ngIf="getControl(secondFormGroup, 'nameEn')?.invalid && (getControl(secondFormGroup, 'nameEn')?.dirty || getControl(secondFormGroup, 'nameEn')?.touched)" class="text-danger">
                    رجاء ادخال الاسم وباللغة الإنجليزية.
                  </div>
                </div>
                  <div class="form-group col-md-3">
                    <label>سنة الميلاد</label>
                    <select  formControlName="birthDate" class="form-select" required aria-label="select example"  id="birthDate"   >
                      <option value="" selected disabled>اختر ...</option>
                      <option *ngFor="let year of years"
                              [value]="year">{{ year }}
                      </option>
                    </select>
                   <div *ngIf="getControl(secondFormGroup, 'birthDate')?.invalid && (getControl(secondFormGroup, 'birthDate')?.dirty || getControl(secondFormGroup, 'birthDate')?.touched)" class="text-danger">
                      رجاء ادخال سنة الميلاد.
                    </div>
                  </div>

                  <div class="form-group col-md-3">
                    <label >رقم الهاتف</label>
                    <input
                      type="text" required formControlName="phoneNumber" class="form-control" id="phoneNumber"   />
                    <div *ngIf="getControl(secondFormGroup, 'phoneNumber')?.invalid && (getControl(secondFormGroup, 'phoneNumber')?.dirty || getControl(secondFormGroup, 'phoneNumber')?.touched)" class="text-danger">
                      رجاء ادخال رقم الهاتف ,,,,,,,,09
                    </div>
                  </div>
<!--                <div class="form-group col-md-3">-->
<!--                  <label >تاريخ ميلاد</label>-->
<!--                  <input-->
<!--                    type="date-year" required formControlName="birthDate" class="form-control" id="birthDate"   />-->
<!--                  <div *ngIf="getControl(secondFormGroup, 'birthDate')?.invalid && (getControl(secondFormGroup, 'birthDate')?.dirty || getControl(secondFormGroup, 'birthDate')?.touched)" class="text-danger">-->
<!--                    رجاء ادخال تاريخ ميلاد.-->
<!--                  </div>-->
<!--                </div>-->
                </div>
                <div class="row">
                  <div class="form-group col-md-1 ">
                    <label>الجنسية</label>
                    <select  (change)="nationalityIDChange()"  formControlName="country" class="form-select"  required aria-label="select example">
                      <option value="" selected disabled>اختر...</option>
                      <option value="1" >ليبي</option>
                      <option value="2" >أجنبي</option>
                    </select>
                    <div *ngIf="getControl(secondFormGroup, 'country')?.invalid && (getControl(secondFormGroup, 'country')?.dirty || getControl(secondFormGroup, 'country')?.touched)" class="text-danger">
                      رجاء اختر الجنسية.
                    </div>
                  </div>
                  <div class="form-group col-md-2 " *ngIf="getControl(secondFormGroup, 'country')?.value == '2'">
                    <label>البلد</label>
                    <select formControlName="nationalityID" class="form-select"  required aria-label="select example">
                      <option value="" selected disabled>اختر...</option>

                      <option *ngFor="let item of  filteredNationalities "
                              [value]="item.id" >{{ item.name }}
                      </option>
                    </select>
                    <div *ngIf="getControl(secondFormGroup, 'nationalityID')?.invalid && (getControl(secondFormGroup, 'nationalityID')?.dirty || getControl(secondFormGroup, 'nationalityID')?.touched)" class="text-danger">
                      رجاء اختر البلد.
                    </div>
                  </div>
                  <div class="form-group col-md-3" *ngIf="getControl(secondFormGroup, 'country')?.value == '2' && nationalityTypeId != 1">
                    <label >تاريخ التأشيره</label>
                    <input type="date"   class="form-control" formControlName="ResVisaDate" >
                    <div *ngIf=" getControl(secondFormGroup, 'ResVisaDate')?.invalid && (getControl(secondFormGroup, 'ResVisaDate')?.dirty || getControl(secondFormGroup, 'ResVisaDate')?.touched)" class="text-danger">
                      رجاء اختر تاريخ التأشيره .
                    </div>
                  </div>
                  <div class="form-group col-md-2" *ngIf="nationalityTypeId == 1">
                    <label>الرقم الوطني</label>
                    <input (input)="onInput($event)" type="number"  formControlName="nid" class="form-control" id="nid" />
                    <div *ngIf=" getControl(secondFormGroup, 'nid')?.invalid && (getControl(secondFormGroup, 'nid')?.dirty || getControl(secondFormGroup, 'nid')?.touched)" class="text-danger">
                      الرقم الوطني يجب ان يتكون من 12 خانة ,,,,1199/,,,,2199.
                    </div>
                  </div>
                  <div class="form-group col-md-3">
                    <label >رقم جواز السفر</label>
                    <input
                      type="text"  formControlName="passportNumber" class="form-control" id="passportNumber"   />
                    <div *ngIf="getControl(secondFormGroup, 'passportNumber')?.invalid && (getControl(secondFormGroup, 'passportNumber')?.dirty || getControl(secondFormGroup, 'passportNumber')?.touched)" class="text-danger">
                      رجاء ادخال رقم جواز السفر.
                    </div>
                  </div>

                  <div class="form-group col-md-3" *ngIf="secondFormGroup.controls['passportNumber']?.value !=''">
                    <label >تاريخ إنتهاء صلاحية جواز السفر</label>
                    <input type="date"   class="form-control" formControlName="passportExpiryDate" >
                    <div *ngIf=" getControl(secondFormGroup, 'passportExpiryDate')?.invalid && (getControl(secondFormGroup, 'passportExpiryDate')?.dirty || getControl(secondFormGroup, 'passportExpiryDate')?.touched)" class="text-danger">
                      رجاء اختر تاريخ إنتهاء صلاحية جواز السفر .
                    </div>
                  </div>



                </div>
                <div class="row">
                  <div class="form-group col-md-3">
                    <label >رقم بطاقة الشخصية</label>
                    <input
                      type="text"  formControlName="identificationCardNumber" class="form-control" id="identificationCardNumber"   />
                    <div *ngIf="getControl(secondFormGroup, 'identificationCardNumber')?.invalid && (getControl(secondFormGroup, 'identificationCardNumber')?.dirty || getControl(secondFormGroup, 'identificationCardNumber')?.touched)" class="text-danger">
                      رجاء ادخال رقم  بطاقة الشخصية.
                    </div>
                  </div>
                  <div class="form-group col-md-3">
                    <label>الجنس</label>
                    <select formControlName="gender" class="form-select" required aria-label="select example"  id="gender"   >
                      <option value="" selected disabled>اختر ...</option>
                      <option *ngFor="let item of optionsGenderGeneral"
                              [value]="item.value">{{ item.label }}
                      </option>
                    </select>
                    <div *ngIf="getControl(secondFormGroup, 'gender')?.invalid && (getControl(secondFormGroup, 'gender')?.dirty || getControl(secondFormGroup, 'gender')?.touched)" class="text-danger">
                      رجاء اختر الجنس.
                    </div>
                  </div>
                  <div  class="form-group col-md-3">
                    <label>الحالة الإجتماعية</label>
                    <select #socialStatus  formControlName="socialStatus" class="form-select" required aria-label="select example"  id="socialStatus"   >
                      <option value="" selected disabled>اختر ...</option>
                      <option *ngFor="let item of optionsSocialStatus"
                              [value]="item.value">{{ item.label }}
                      </option>
                    </select>
                    <div *ngIf="getControl(secondFormGroup, 'socialStatus')?.invalid && (getControl(secondFormGroup, 'socialStatus')?.dirty || getControl(secondFormGroup, 'socialStatus')?.touched)" class="text-danger">
                      رجاء اختر الحالة الإجتماعية.
                    </div>
                  </div>
                  <div class="form-group col-md-3" *ngIf="secondFormGroup.controls['socialStatus']?.value == 2 || secondFormGroup.controls['socialStatus']?.value == 3 ">
                    <label >رقم ورقة العائلة</label>
                    <input
                      type="text"  formControlName="familyPageNo" class="form-control" id="familyPageNo"   />
                    <!--                    <div *ngIf="getControl(secondFormGroup, 'familyPageNo')?.invalid && (getControl(secondFormGroup, 'familyPageNo')?.dirty || getControl(secondFormGroup, 'familyPageNo')?.touched)" class="text-danger">-->
                    <!--                      رجاء ادخال رقم ورقة العائلة.-->
                    <!--                    </div>-->
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-md-3">
                    <label >البريد الالكتروني</label>
                    <input
                      type="text"  formControlName="email" class="form-control" id="email"   />
<!--                      type="text" (change)="changeEmail()" formControlName="email" class="form-control" id="email"   />-->
                    <div *ngIf="getControl(secondFormGroup,'email')?.invalid && (getControl(secondFormGroup,'email')?.dirty || getControl(secondFormGroup,'email')?.touched)" class="text-danger">
                        رجاء إدخال بريد إلكتروني بصيغة صحيحة.
                    </div>
                  </div>
                  <div class="form-group col-md-3">
                    <label for="inputGroupFile01"  >تحميل صورة شخصية</label>
                    <input  (change)="uploadFile($event)"
                      type="file"   class="form-control" id="inputGroupFile01"   />
                    <!--                    <input type="file" class="form-control" id="inputGroupFile01" />-->
                    <!--                    <label for="inputGroupFile01" class="input-group-text"> تحميل صورة شخصية</label>-->
                  </div>
                  <div class="form-group col-md-3">
                    <label >عدد أفراد العائلة الكلي  </label>
                    <input
                      type="text"  formControlName="totalDependents" class="form-control" id="totalDependents"   />
                    <div *ngIf="getControl(secondFormGroup, 'totalDependents')?.invalid && (getControl(secondFormGroup, 'totalDependents')?.dirty || getControl(secondFormGroup, 'totalDependents')?.touched)" class="text-danger">
                      رجاء ادخال عدد أفراد العائلة الكلي.
                    </div>
                  </div>
                  <div class="form-group col-md-3">
                    <label >عدد الأبناء بدون أب  </label>
                    <input
                      type="text"  formControlName="resDependents" class="form-control" id="resDependents"   />
                    <div *ngIf="getControl(secondFormGroup, 'resDependents')?.invalid && (getControl(secondFormGroup, 'resDependents')?.dirty || getControl(secondFormGroup, 'resDependents')?.touched)" class="text-danger">
                      رجاء ادخال عدد الأبناء بدون أب.
                    </div>
                  </div>
                </div>
                <div class="row">

                  <div class="form-group col-md-3  align-self-end" >
<!--                    <button type="button"  class="btn btn-themeAdd" (click)="addFamilyMember()">إضافة فرد من عائلة</button>-->
                    إضافة فرد من عائلة
                    <button  (click)="addFamilyMember()" class="btn drp-icon btn-rounded btn-success" ngbDropdownToggle type="button">
                      <i class="feather icon-plus"></i>
                    </button>
                  </div>
                </div>

<!--                <div formArrayName="familyData" *ngIf="getControl(secondFormGroup, 'socialStatus').value == 3">-->
                <div formArrayName="familyData" >
                  <div *ngFor="let family of familyData.controls; let i=index" [formGroupName]="i">
                    <div class="row">
                      <div class="form-group col-md-3">
                        <label for="familyName{{i}}">اسم رباعي</label>
                        <input type="text" class="form-control" id="familyName{{i}}" formControlName="name" required>
                      <div *ngIf="getControl(family , 'name')?.invalid && (getControl(family, 'name')?.dirty || getControl(family , 'name')?.touched)" class="text-danger">
                          رجاء ادخال اسم رباعي.
                        </div>
                      </div>
                      <div class="form-group col-md-3">
                        <label for="familyBirthDate{{i}}">تاريخ ميلاد</label>
                        <input type="date" class="form-control" id="familyBirthDate{{i}}" formControlName="birthDate" required>
                        <div *ngIf="getControl(family, 'birthDate')?.invalid && (getControl(family , 'birthDate')?.dirty || getControl(family , 'birthDate')?.touched)" class="text-danger">
                          رجاء ادخل تاريخ ميلاد.
                        </div>
                      </div>
                      <div class="form-group col-md-2">
                        <label for="familyDescription{{i}}">الوصف</label>
                        <select formControlName="description" class="form-select" required   >
                          <option value="" selected disabled>اختر ...</option>
                          <option *ngFor="let item of optionsFamilyDescription"
                                  [value]="item.value">{{ item.label }}
                          </option>
                        </select>
                        <div *ngIf="getControl(family , 'description')?.invalid && (getControl(family , 'description')?.dirty || getControl(family , 'description')?.touched)" class="text-danger">
                          رجاء ادخل الوصف.
                        </div>
                      </div>
                      <div class="form-group col-md-2">
                        <label for="familyGender{{i}}">الجنس</label>
                        <select formControlName="gender" class="form-select" required   >
                          <option value="" selected disabled>اختر ...</option>
                          <option *ngFor="let item of optionsGenderGeneral"
                                  [value]="item.value">{{ item.label }}
                          </option>
                        </select>
                        <div *ngIf="getControl(family , 'gender')?.invalid && (getControl(family , 'gender')?.dirty || getControl(family , 'gender')?.touched)" class="text-danger">
                          رجاء اختر الجنس.
                        </div>
                      </div>
                      <div class="form-group col-md-1  align-self-center">
                        <a mat-button (click)="removeFamilyMember(i)" type="button" aria-hidden="true" class="close mat-button"
                           data-notify="dismiss"> <i class="material-icons text-danger">close</i></a>

<!--                        <a type="button" class="btn btn-danger btn-sm" >-->
<!--                          <i class="fas fa-trash-alt"></i>-->
<!--                        </a>-->
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">

                  <div class="form-group col-md-3  align-self-end" >
                    إضافة مؤهل علمي
                    <button  (click)="addScientificQualification()" class="btn drp-icon btn-rounded btn-success" ngbDropdownToggle2 type="button">
                      <i class="feather icon-plus"></i>
                    </button>
                  </div>
                </div>
                <div formArrayName="scientificQualificationData" >
                  <div *ngFor="let scientific of scientificQualificationData.controls; let i=index" [formGroupName]="i">
                    <div class="row">
                      <div class="form-group col-sm-2">
                        <label for="scientificQualificationId{{i}}">المؤهل العلمي</label>
                        <select formControlName="scientificQualificationId" class="form-select" required   >
                          <option value="" selected disabled>اختر ...</option>
                          <option *ngFor="let item of  scientificQualificationsFacade.ScientificQualifications$ | async"
                                  [value]="item.id">{{ item.name }}
                          </option>
                        </select>
                        <div *ngIf="getControl(scientific , 'scientificQualificationId')?.invalid && (getControl(scientific , 'scientificQualificationId')?.dirty || getControl(scientific , 'scientificQualificationId')?.touched)" class="text-danger">
                          رجاء اختر المؤهل العلمي.
                        </div>
                      </div>

                      <div class="form-group col-md-2">
                        <label for="appreciation{{i}}">التقدير</label>
                        <select formControlName="appreciation" class="form-select" required   >
                          <option value="" selected disabled>اختر..</option>
                          <option *ngFor="let item of optionAppreciation"
                                  [value]="item.value">{{ item.label }}
                          </option>
                        </select>
                        <div *ngIf="getControl(scientific , 'appreciation')?.invalid && (getControl(scientific , 'appreciation')?.dirty || getControl(scientific , 'appreciation')?.touched)" class="text-danger">
                          رجاء اختر التقدير.
                        </div>
                      </div>
                      <div class="form-group col-md-2">
                        <label for="specialization{{i}}">التخصص</label>
                        <input type="text" class="form-control" id="specialization{{i}}" formControlName="specialization" required>
                        <div *ngIf="getControl(scientific , 'specialization')?.invalid && (getControl(scientific, 'specialization')?.dirty || getControl(scientific , 'specialization')?.touched)" class="text-danger">
                          رجاء ادخال التخصص.
                        </div>
                      </div>
                      <div class=" col-md-2">
                        <label for="year{{i}}">سنة حصول عليه</label>
                        <select  formControlName="year" class="form-select" required aria-label="select example"  id="year"   >
                          <option value="" selected disabled>اختر ...</option>
                          <option *ngFor="let year of years"
                                  [value]="year">{{ year }}
                          </option>
                        </select>
                        <div *ngIf="getControl(scientific, 'year')?.invalid && (getControl(scientific , 'year')?.dirty || getControl(scientific , 'year')?.touched)" class="text-danger">
                          رجاء ادخل سنة حصول عليه.
                        </div>

                      </div>
                      <div class="form-group col-md-2">
                        <label for="nationalityID{{i}}">بلد الدراسة</label>
                        <select formControlName="nationalityID" class="form-select" required   >
                          <option value="" selected disabled>اختر ...</option>
                          <option *ngFor="let item of  nationalitiesFacade.Nationality$ | async"
                                  [value]="item.id">{{ item.name }}
                          </option>
                        </select>
                        <div *ngIf="getControl(scientific , 'nationalityID')?.invalid && (getControl(scientific , 'nationalityID')?.dirty || getControl(scientific , 'nationalityID')?.touched)" class="text-danger">
                          رجاء اختر بلد الدراسة.
                        </div>
                      </div>
                      <div class="form-group col-md-2">
                        <label for="place{{i}}">المكان</label>
                        <input type="text" class="form-control" id="place{{i}}" formControlName="place" >
                        <div *ngIf="getControl(scientific , 'place')?.invalid && (getControl(scientific , 'place')?.dirty || getControl(scientific , 'place')?.touched)" class="text-danger">
                          رجاء ادخل المكان.
                        </div>
                      </div>
<!--                      <div class=" align-self-center ">-->
                        <a mat-button (click)="removeScientificQualification(i)" type="button" aria-hidden="true" class="close mat-button"
                           data-notify="dismiss">
                          <i class="material-icons text-danger">close</i></a>

                        <!--                        <a type="button" class="btn btn-danger btn-sm" >-->
                        <!--                          <i class="fas fa-trash-alt"></i>-->
                        <!--                        </a>-->
<!--                      </div>-->
                    </div>
                  </div>
                </div>
                <div class="d-flex justify-content-between">
                  <button type="button" class="btn btn-md btn-themeNew has-ripple" (click)="resetStepper()">جديد</button>
                  <div>
                    <button type="button" class="btn  btn-secondary" (click)="previousStep()">السابق</button>
                    <button type="button" class="btn btn-md btn-themeAdd has-ripple" (click)="nextStep()">التالي</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="step" *ngIf="currentStep === 3">
              <div class="step-header">
                <form [formGroup]="threeFormGroup">
                  <div class="row">
                    <div class="form-group col-md-3 ">
                      <label for="employeeCode" class="form-label">	رقم المستخدم </label>
<!--                      <input type="text" [value]="this.addEmployeeFacade.employeeCode$ | async" class="form-control" id="employeeCode" [disabled]="true" formControlName="employeeCode" >-->
                      <input type="text" [value]="CodeOut"   class="form-control" id="employeeCode" [disabled]="true" formControlName="employeeCode" >
                      <div *ngIf="getControl(threeFormGroup, 'employeeCode')?.invalid && (getControl(threeFormGroup, 'employeeCode')?.dirty )" class="text-danger">
                        رجاء ادخل رقم المستخدم.
                      </div>

                    </div>

                    <div class="col-sm-1  align-self-center">
                      <button title="رقم موظف تلقائي" (click)="GetOut()" type="button" class=" align-self-end btn btn-icon btn-rounded btn-outline-info">
                        <i class="feather icon-repeat"></i>
                      </button>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-md-3 ">
                      <label for="financialNumber" class="form-label">	رقم المالي </label>
                      <input type="text" class="form-control" id="financialNumber"  formControlName="financialNumber" >
<!--                      <div *ngIf="getControl(threeFormGroup, 'financialNumber')?.invalid && (getControl(threeFormGroup, 'financialNumber')?.dirty || getControl(threeFormGroup, 'financialNumber')?.touched)" class="text-danger">-->
<!--                        رجاء ادخل رقم المالي.-->
<!--                      </div>-->
                    </div>
                    <div class="form-group col-md-3 align-self-center">
                      <label>نوع الاستخدام </label>
                      <select formControlName="procedureCode" class="form-select" required aria-label="select example"  id="procedureCode"   >
                        <option value="" selected disabled>اختر ...</option>
                        <option *ngFor="let item of optionsProcedureCode"
                                [value]="item.value">{{ item.label }}
                        </option>
                      </select>
                      <div *ngIf="getControl(threeFormGroup, 'procedureCode')?.invalid && (getControl(threeFormGroup, 'procedureCode')?.dirty || getControl(threeFormGroup, 'procedureCode')?.touched)" class="text-danger">
                        رجاء اختر نوع الاستخدام.
                      </div>
                    </div>
                    <div class="form-group col-md-3 align-self-center">
                      <label for="nocNumber" class="form-label">رقم القرار</label>
                      <input type="text" class="form-control" id="nocNumber"  formControlName="nocNumber" >

                    </div>
                    <div class="row">

                    <div class="form-group col-md-3 ">
                      <label for="socialSecurityNumber" class="form-label">	رقم ضمان الاجتماعي للرواتب</label>
                      <input type="text" class="form-control" id="socialSecurityNumber" [disabled]="true" formControlName="socialSecurityNumber" >
                      <div *ngIf="getControl(threeFormGroup, 'socialSecurityNumber')?.invalid && (getControl(threeFormGroup, 'socialSecurityNumber')?.dirty || getControl(threeFormGroup, 'socialSecurityNumber')?.touched)" class="text-danger">
                        رجاء ادخل رقم ضمان الاجتماعي للرواتب .
                      </div>
                    </div>

                    <div class="form-group col-md-3 ">
                      <label for="basicSalary" class="form-label">المرتب الاساسي</label>
                      <input type="text" class="form-control" id="basicSalary" [disabled]="true" formControlName="basicSalary" >
<!--                      <div *ngIf="getControl(threeFormGroup, 'basicSalary')?.invalid && (getControl(threeFormGroup, 'basicSalary')?.dirty || getControl(threeFormGroup, 'basicSalary')?.touched)" class="text-danger">-->
<!--                        رجاء ادخل المرتب الاساسي .-->
<!--                      </div>-->
                    </div>
                      <div class="form-group col-md-3 align-self-center">
                        <label>حالة الإجتماعية للرواتب</label>
                        <select formControlName="socialStatusSalaries" class="form-select" required aria-label="select example"  id="socialStatusSalaries"   >
                          <option value="" selected disabled>اختر ...</option>
                          <option *ngFor="let item of optionsSocialStatus"
                                  [value]="item.value">{{ item.label }}
                          </option>
                        </select>
                        <div *ngIf="getControl(threeFormGroup, 'socialStatusSalaries')?.invalid && (getControl(threeFormGroup, 'socialStatusSalaries')?.dirty || getControl(threeFormGroup, 'socialStatusSalaries')?.touched)" class="text-danger">
                          رجاء ادخل حالة الإجتماعية للرواتب.
                        </div>
                      </div>

                    </div>
                    <div class="row">

                      <div class="form-group col-md-3">
                        <label>العمل الإضافي </label>
                        <select formControlName="overtime" class="form-select"  aria-label="select example"  id="overtime"   >
                          <option value="" selected disabled>اختر ...</option>
                          <option *ngFor="let item of optionsOvertime"
                                  [value]="item.value">{{ item.label }}
                          </option>
                        </select>
<!--                        <div *ngIf="getControl(threeFormGroup, 'overtime')?.invalid && (getControl(threeFormGroup, 'overtime')?.dirty || getControl(threeFormGroup, 'overtime')?.touched)" class="text-danger">-->
<!--                          رجاء ادخل العمل الإضافي.-->
<!--                        </div>-->
                      </div>
                      <div class="form-group col-md-3">
                        <label for="hireDate">تاريخ التعيين</label>
                        <input type="date" class="form-control" id="hireDate" formControlName="hireDate" required>
                        <div *ngIf="getControl(threeFormGroup, 'hireDate')?.invalid && (getControl(threeFormGroup, 'hireDate')?.dirty || getControl(threeFormGroup, 'hireDate')?.touched)" class="text-danger">
                          رجاء اختر تاريخ التعيين .
                        </div>
                      </div>
                      <div class="form-group col-md-3">
                        <label for="startingDate">تاريخ المباشره</label>
                        <input type="date" class="form-control" id="startingDate" formControlName="startingDate" >
<!--                        <div *ngIf="getControl(threeFormGroup, 'startingDate')?.invalid && (getControl(threeFormGroup, 'startingDate')?.dirty || getControl(threeFormGroup, 'startingDate')?.touched)" class="text-danger">-->
<!--                          رجاء اختر تاريخ المباشره.-->
<!--                        </div>-->
                      </div>
                    </div>

                  </div>
                  <br>
                  <div class="d-flex justify-content-between">
                    <button type="button" class="btn btn-md btn-themeNew has-ripple" (click)="resetStepper()">جديد</button>
                    <div>
                      <ol>
                        <li>
                          <mat-form-field>
                            <input matInput [(ngModel)]="name" placeholder="What's your name?">
                          </mat-form-field>
                        </li>
                        <li>
                          <button mat-raised-button (click)="openDialog()">Pick one</button>
                        </li>
                        <li *ngIf="animal">
                          You chose: <i>{{animal}}</i>
                        </li>
                      </ol>
                      <button type="button" class="btn  btn-secondary" (click)="previousStep()">السابق</button>
                      <button type="button" class="btn btn-md btn-themeAdd has-ripple" (click)="submitForm()">حفظ</button>

                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>






