<div class="main-content">
    <app-loading></app-loading>
    <app-messages></app-messages>
    <div class="container-fluid">
        <div class="col">
            <div class="col-md-12">
    <div class="card">
    <div class="card-body">
    <form [formGroup]="registerForm">
    <div class="col-lg-12  ml-auto mr-auto">
        <div class="row ">
            <div class="col-md-3">
                <mat-form-field class="example-full-width" required
                                style="text-align-last: right;text-align: right;">
                    <input placeholder="اسم المكافأة" matInput type="text" formControlName="name" #name>
                    <mat-hint align="start" style="  font-size: 10px;  flex-flow: column;">
                    </mat-hint>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field appearance="fill" class="example-full-width">
                    <mat-select style="direction: rtl;text-align: right" formControlName="rewardTypeId" #rewardTypeId
                                placeholder="نوع المكافأة" >
                        <!--                        <mat-option label="مكافأة خاضعة لضريبة الجهاد" value=1>مكافأة خاضعة لضريبة الجهاد</mat-option>-->
                        <!--                        <mat-option label="مكافأة خاضعة لكافة الضرائب" value=2>مكافأة خاضعة لكافة الضرائب</mat-option>-->
                        <!--                        <mat-option label="مكافأة غير خاضعة لأي ضريبة" value=3 >مكافأة غير خاضعة لأي ضريبة</mat-option>-->

                        <mat-option *ngFor="let item of optionsRewardType" [value]="item.value">{{item.label }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-3">

                <mat-form-field appearance="fill" class="example-full-width">
                    <mat-select style="direction: rtl;text-align: right"  (selectionChange)="resetCalculatingReward()"
                                formControlName="calculatingRewardValueId"   #calculatingRewardValueId placeholder="آلية احتساب قيمة المكافأة" >
                        <mat-option *ngFor="let item of optionsCalculatingReward" [value]="item.value">{{item.label }}</mat-option>

                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-4 " *ngIf="calculatingRewardValueId.value == 2" >
            <mat-form-field class="example-full-width" required
                            style="text-align-last: right;text-align: right;">
                <mat-label>القيمة</mat-label>
                <input  matInput type="text"   formControlName="value"  >
                <mat-hint align="start" style="  font-size: 10px;  flex-flow: column;">
                </mat-hint>
            </mat-form-field></div>
            <div class="col-md-4 " *ngIf="calculatingRewardValueId.value == 3" >

            <mat-form-field class="example-full-width" required
                            style="text-align-last: right;text-align: right;">
                <input placeholder="النسبة" matInput type="text" formControlName="percentage" >
                <mat-hint align="start" style="  font-size: 10px;  flex-flow: column;">
                </mat-hint>
            </mat-form-field>
            </div>
        </div>
        <br>
        <br>
        <div class="row justify-content-center">
            <div class="col-md-2">
                <button class="btn btn-success btn-block"
                        (click)="onAdd()">حفظ
                </button>
            </div>
            <div class="col-md-2">
                <button class="btn btn-info btn-block"
                        (click)="onReset()">جديد
                </button>
            </div>
        </div>
    </div>
        <!--                            </div>-->
    </form>
    </div>
    </div>
</div>
<div class="col-md-12">
<div class="card">
<!--    <mat-paginator [length]="10" (page)="pageChange($event)"></mat-paginator>-->

    <div class="card-body table-responsive paginated-table md-table md-content  md-table-content md-scrollbar md-theme-default">
        <table class="table table-hover table-striped  table-hover  md-table-content md-scrollbar md-theme-default ">
            <thead>
            <th>اسم المكافأة</th>
            <th>نوع المكافأة</th>
            <th>آلية الإحتساب</th>
            <th></th>
            </thead>
            <tbody>
            <tr *ngFor="let item of rewardsTypesFacade.Rewards$ | async; let i = index">
                <td>{{item.name}}</td>
                <td>{{item.rewardTypeName}}</td>
                <td>{{item.calculatingRewardValueName}}</td>
                <td class="td-actions text-right">
                    <button type="button" matTooltip="تعديل"
                            [matTooltipPosition]="'above'"(click)="onEdit(item)"
                            class="btn btn-warning btn-link btn-sm btn-just-icon">
                        <i class="material-icons">dvr</i>
                    </button>
<!--                    mat-raised-button-->
                    <button type="button" matTooltip="حذف"
                            [matTooltipPosition]="'above'" (click)="onDelete(item.id)"
                            class="btn btn-danger btn-link btn-sm btn-just-icon">
                        <i class="material-icons">close</i>

                    </button>
                </td>
            </tr>


            </tbody>
        </table>
    </div>
</div>
</div>
</div>
</div>
</div>
