<div class="row">
  <!-- [ tabs ] start -->
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <h5 class="mb-3">Basic Tabs</h5>
        <ul class="nav nav-tabs mb-3" ngbNav #nav="ngbNav">
          <li class="nav-item" [ngbNavItem]="1">
            <a class="nav-link text-uppercase" aria-controls="home" aria-selected="true" ngbNavLink>Home</a>
            <ng-template ngbNavContent>
              <p class="mb-0">
                Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse.
                Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby
                sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan
                american apparel, butcher voluptate nisi qui.
              </p>
            </ng-template>
          </li>
          <li class="nav-item" [ngbNavItem]="2">
            <a class="nav-link text-uppercase" aria-controls="home" aria-selected="true" ngbNavLink>Profile</a>
            <ng-template ngbNavContent>
              <p class="mb-0">
                Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog
                sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress,
                commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore
                aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny
                pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art
                party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.
              </p>
            </ng-template>
          </li>
          <li class="nav-item" [ngbNavItem]="3">
            <a class="nav-link text-uppercase" aria-controls="home" aria-selected="true" ngbNavLink>Contact</a>
            <ng-template ngbNavContent>
              <p class="mb-0">
                Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi
                farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia
                banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi
                whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't
                heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.
              </p>
            </ng-template>
          </li>
        </ul>
        <div [ngbNavOutlet]="nav"></div>
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <h5 class="mb-3">Basic Pills</h5>
        <ul class="nav nav-pills mb-3" ngbNav #nav1="ngbNav">
          <li class="nav-item" [ngbNavItem]="1">
            <a class="nav-link" ngbNavLink aria-controls="pills-home" aria-selected="true">Home</a>
            <ng-template ngbNavContent>
              <p class="mb-0">
                Consequat occaecat ullamco amet non eiusmod nostrud dolore irure incididunt est duis anim sunt officia. Fugiat velit
                proident aliquip nisi incididunt nostrud exercitation proident est nisi. Irure magna elit commodo anim ex veniam culpa
                eiusmod id nostrud sit cupidatat in veniam ad. Eiusmod consequat eu adipisicing minim anim aliquip cupidatat culpa excepteur
                quis. Occaecat sit eu exercitation irure Lorem incididunt nostrud.
              </p>
            </ng-template>
          </li>
          <li class="nav-item" [ngbNavItem]="2">
            <a class="nav-link" ngbNavLink aria-controls="pills-home" aria-selected="true">Profile</a>
            <ng-template ngbNavContent>
              <p class="mb-0">
                Ad pariatur nostrud pariatur exercitation ipsum ipsum culpa mollit commodo mollit ex. Aute sunt incididunt amet commodo est
                sint nisi deserunt pariatur do. Aliquip ex eiusmod voluptate exercitation cillum id incididunt elit sunt. Qui minim sit
                magna Lorem id et dolore velit Lorem amet exercitation duis deserunt. Anim id labore elit adipisicing ut in id occaecat
                pariatur ut ullamco ea tempor duis.
              </p>
            </ng-template>
          </li>
          <li class="nav-item" [ngbNavItem]="3">
            <a class="nav-link" ngbNavLink aria-controls="pills-home" aria-selected="true">Contact</a>
            <ng-template ngbNavContent>
              <p class="mb-0">
                Est quis nulla laborum officia ad nisi ex nostrud culpa Lorem excepteur aliquip dolor aliqua irure ex. Nulla ut duis ipsum
                nisi elit fugiat commodo sunt reprehenderit laborum veniam eu veniam. Eiusmod minim exercitation fugiat irure ex labore
                incididunt do fugiat commodo aliquip sit id deserunt reprehenderit aliquip nostrud. Amet ex cupidatat excepteur aute veniam
                incididunt mollit cupidatat esse irure officia elit do ipsum ullamco Lorem. Ullamco ut ad minim do mollit labore ipsum
                laboris ipsum commodo sunt tempor enim incididunt. Commodo quis sunt dolore aliquip aute tempor irure magna enim minim
                reprehenderit. Ullamco consectetur culpa veniam sint cillum aliqua incididunt velit ullamco sunt ullamco quis quis commodo
                voluptate. Mollit nulla nostrud adipisicing aliqua cupidatat aliqua pariatur mollit voluptate voluptate consequat non.
              </p>
            </ng-template>
          </li>
        </ul>
        <div [ngbNavOutlet]="nav1" class="mt-2"></div>
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <h5 class="mb-3">Vertical Pills</h5>
        <div class="row">
          <div class="col-md-3 col-sm-12">
            <ul class="nav flex-column nav-pills" ngbNav #nav3="ngbNav" orientation="vertical" y>
              <li [ngbNavItem]="1" class="nav-item">
                <a class="nav-link" ngbNavLink>Home</a>
                <ng-template ngbNavContent>
                  <p class="mb-0">
                    Cillum ad ut irure tempor velit nostrud occaecat ullamco aliqua anim Lorem sint. Veniam sint duis incididunt do esse
                    magna mollit excepteur laborum qui. Id id reprehenderit sit est eu aliqua occaecat quis et velit excepteur laborum
                    mollit dolore eiusmod. Ipsum dolor in occaecat commodo et voluptate minim reprehenderit mollit pariatur. Deserunt non
                    laborum enim et cillum eu deserunt excepteur ea incididunt minim occaecat.
                  </p>
                </ng-template>
              </li>
              <li [ngbNavItem]="2" class="nav-item">
                <a class="nav-link" ngbNavLink>Profile</a>
                <ng-template ngbNavContent>
                  <p class="mb-0">
                    Culpa dolor voluptate do laboris laboris irure reprehenderit id incididunt duis pariatur mollit aute magna pariatur
                    consectetur. Eu veniam duis non ut dolor deserunt commodo et minim in quis laboris ipsum velit id veniam. Quis ut
                    consectetur adipisicing officia excepteur non sit. Ut et elit aliquip labore Lorem enim eu. Ullamco mollit occaecat
                    dolore ipsum id officia mollit qui esse anim eiusmod do sint minim consectetur qui.
                  </p>
                </ng-template>
              </li>
              <li [ngbNavItem]="3" class="nav-item">
                <a class="nav-link" ngbNavLink>Messages</a>
                <ng-template ngbNavContent>
                  <p class="mb-0">
                    Fugiat id quis dolor culpa eiusmod anim velit excepteur proident dolor aute qui magna. Ad proident laboris ullamco esse
                    anim Lorem Lorem veniam quis Lorem irure occaecat velit nostrud magna nulla. Velit et et proident Lorem do ea tempor
                    officia dolor. Reprehenderit Lorem aliquip labore est magna commodo est ea veniam consectetur.
                  </p>
                </ng-template>
              </li>
              <li [ngbNavItem]="4" class="nav-item">
                <a class="nav-link" ngbNavLink>Settings</a>
                <ng-template ngbNavContent>
                  <p class="mb-0">
                    Eu dolore ea ullamco dolore Lorem id cupidatat excepteur reprehenderit consectetur elit id dolor proident in cupidatat
                    officia. Voluptate excepteur commodo labore nisi cillum duis aliqua do. Aliqua amet qui mollit consectetur nulla mollit
                    velit aliqua veniam nisi id do Lorem deserunt amet. Culpa ullamco sit adipisicing labore officia magna elit nisi in aute
                    tempor commodo eiusmod.
                  </p>
                </ng-template>
              </li>
            </ul>
          </div>
          <div class="col-md-9 col-sm-12">
            <div [ngbNavOutlet]="nav3" class="ms-4"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
