<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="Horizontal Layout">
      <p>In Horizontal Layout - Navigation bar is set in a Horizontal way. It also showing/hidden while scrolling up/down.</p>
      <div class="alert alert-info mb-0" role="alert">
        <p class="mb-0">It is best suited for those applications where you required your navigation is set to be a Horizontal way.</p>
      </div>
      <h5 class="m-15">You can edit this file at [ ../src/app/app-config.ts ] </h5>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead class="header-table">
          <tr>
            <th>Configuration</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <ul>
                <li>layout: <code>horizontal</code></li>
                <li>navFixedLayout: <code>false</code></li>
                <li>headerFixedLayout: <code>false</code></li>
              </ul>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </app-card>
  </div>
</div>
<app-common-content></app-common-content>
