<div class="row">
  <app-loading></app-loading>
  <app-messages></app-messages>
  <!-- [ basic-collapse ] start -->
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <!--        <form [formGroup]="registerForm" action="javascript:" class="row row-cols-md-auto g-3 align-items-center " >-->
        <form [formGroup]="registerForm" action="javascript:">
          <div class="row">
            <div class="form-group col-md-2">
              <label for="inlineFormpositionCode">رقم الوظيفة </label>
              <input
                type="text" required formControlName="positionCode" class="form-control" id="inlineFormpositionCode" />
              <!--              <div  class="invalid-feedback">رجاء ادخال اسم الصفة الوظيفية</div>-->
            </div>
            <div class="form-group col-md-3 ">
              <label>الوحدة التنظيمية</label>
              <select #directManager (change)="GetAllUnitsDepartment()" formControlName="directManager" class="form-select"
                      aria-label="select example">
                <option value="" selected disabled>اختر..</option>
                <option *ngFor="let item of organizationalUnitFacade.UnitsByLevel2$   | async"
                        [value]="item.id">{{ item.name }}
                </option>
              </select>
            </div>
            <div class="form-group col-md-3 " *ngIf="((organizationalUnitFacade.AllDepartmentUnit$ | async )?.length != 0) && directManager.value !=''&& directManager.value != null ">
              <label>نوع الوحدة التنظيمية</label>
              <select (change)="getAllUnitsBranchingFromSpecificUnit()" formControlName="organizationalUnitNumber"
                      class="form-select" aria-label="select example">
                <option value="" selected disabled>اختر...</option>
                <option *ngFor="let item of organizationalUnitFacade.AllDepartmentUnit$  | async"
                        [value]="item.id">{{item.name}}
                </option>
              </select>
            </div>
            <div class="form-group col-md-3 " *ngIf="(organizationalUnitFacade.AllSpecificUnit$ | async)?.length != 0" >
              <label>يتبع لـ</label>
              <select (change)="selectSpecificUnit()" formControlName="specificUnit" class="form-select"
                      aria-label="select example">
                <option value="" selected disabled>اختر...</option>
                <option *ngFor="let item of organizationalUnitFacade.AllSpecificUnit$  | async"
                        [value]="item.id">{{ item.name }}
                </option>
              </select>
            </div>

            <div class="form-group col-sm-2" *ngIf="costCenter!= ''">
              <label>مركز التكلفة</label>
              <input
                type="text" [disabled]="true" [value]="costCenter "  class="form-control" />
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-3 ">
              <label> اسم الموقع -	رمز الموقع</label>
              <select formControlName="locationId" class="form-select" required aria-label="select example">

                <option value="" selected disabled>اختر...</option>

                <option *ngFor="let item of definitionPositionFacade.locations$ | async"
                        [value]="item.id">{{ item.name + ' - '+ item.locationCode }}
                </option>
              </select>
            </div>
<!--            <div class="form-group col-md-2">-->
<!--              <label>رمز الوظيفة</label>-->
<!--              <select (change)="getJobTitleId()" formControlName="jobTitleId" class="form-select" required aria-label="select example">-->
<!--                <option value="" selected disabled>اختر...</option>-->
<!--                <option   *ngFor="let item of  jobTitleFacade.JobTitles$ | async"-->
<!--                          [value]="item.id">{{ item.jobCode }}-->
<!--                </option>-->
<!--              </select>-->
<!--            </div>-->

<!--            <div class="form-group col-md-2">-->
<!--              <label>رمز الوظيفة</label>-->
<!--              <input type="text"-->
<!--                     placeholder="ابحث عن رمز الوظيفة"-->
<!--                     (input)="onSearchJobTitles($event)"-->
<!--                     [(ngModel)]="searchTerm"-->
<!--                     class="form-control mb-2"-->
<!--                     aria-label="search job titles">-->
<!--              <select formControlName="jobTitleId" class="form-select" required aria-label="select example">-->
<!--                <option value="" selected disabled>اختر...</option>-->
<!--                <option *ngFor="let item of filteredJobTitles" [value]="item.id">{{ item.jobCode }}</option>-->
<!--              </select>-->
<!--            </div>-->



<!--            <div class="form-group col-md-2">-->
<!--              <label>رمز الوظيفة</label>-->
<!--              <select type="text"  placeholder="ابحث عن رمز الوظيفة" (input)="onSearchJobTitles($event)" (change)="getJobTitleId()" formControlName="jobTitleId" class="form-select" required aria-label="select example">-->
<!--                <option value="" selected disabled>اختر...</option>-->
<!--                <option   *ngFor="let item of  filteredJobTitles"-->
<!--                          [value]="item.id">{{ item.jobCode }}-->
<!--                </option>-->
<!--              </select>-->
<!--            </div>-->



              <!-- Search input for filtering job titles -->
            <div class="form-group col-md-2">
              <label>رمز الوظيفة</label>
              <input
                type="text"
                (input)="onSearchJobTitles($event)"
                (click)="showDropdown = true"
                (focusout)="hideDropdown()"
                (keyup.enter)="showDropdown = true"
                [value]="getJobCode()"
              placeholder="ابحث عن رمز الوظيفة"
              class="form-control mb-2"
              required
              formControlName="jobTitleId"
              />
              <ul *ngIf="showDropdown && filteredJobTitles.length > 0" class="dropdown-list" aria-label="select example">
                <li *ngFor="let item of filteredJobTitles" (click)="getJobTitleId(item)" class="dropdown-item">
                  {{ item.jobCode }}
                </li>
              </ul>
            </div>


            <!--            <div class="form-group col-md-2">-->
<!--              <label>رمز الوظيفة</label>-->
<!--              <div class="position-relative">-->
<!--                <input type="text"-->
<!--                       placeholder="ابحث عن رمز الوظيفة"-->
<!--                       (input)="onSearchJobTitles($event)"-->
<!--                       [(ngModel)]="searchTerm"-->
<!--                       class="form-control"-->
<!--                       aria-label="search job titles">-->
<!--                <ul class="dropdown-menu" *ngIf="filteredJobTitles.length > 0">-->
<!--                  <li *ngFor="let item of filteredJobTitles" (click)="getJobTitleId()" class="dropdown-item">-->
<!--                    {{ item.jobCode }}-->
<!--                  </li>-->
<!--                </ul>-->
<!--              </div>-->
<!--            </div>-->
            <div class="form-group col-md-3">
              <label >اسم الوظيفة باللغة العربية</label>
              <input
                type="text" formControlName="name" class="form-control" />
            </div>
            <div class="form-group col-md-3">
              <label >اسم الوظيفة باللغة الإنجليزية</label>
              <input
                type="text" formControlName="nameEn" class="form-control"  />
            </div>

<!--            <div class="form-group col-md-3">-->
<!--              <label >رمز مركز التكلفة</label>-->
<!--              <input-->
<!--                type="text" required formControlName="costCenterCode" class="form-control"  />-->
<!--              &lt;!&ndash;              <div  class="invalid-feedback">رجاء ادخال اسم الصفة الوظيفية</div>&ndash;&gt;-->
<!--            </div>-->
          </div>
          <div class="row">
            <div class="form-group col-md-2 ">
              <label>نوع الوظيفة</label>
              <select formControlName="positionType" class="form-select" required aria-label="select example">
                <option value="-1" selected disabled>اختر ...</option>
                <option *ngFor="let item of optionsNationalityType "
                        [value]="item.value">{{ item.label }}
                </option>
              </select>
            </div>
            <div class="form-group col-md-3">
              <label >تاريخ سريان على وظيفة</label>
              <input
                type="date"  formControlName="approvalDate" class="form-control" id="approvalDate"   />

            </div>
            <div class="form-group col-md-2 " *ngIf="!haveAdmin">

              <label>مدير؟</label>
              <select   formControlName="isAdmin" class="form-select" required aria-label="select example">
                <option value="false" selected disabled>اختر ...</option>
                <option *ngFor="let item of optionsBooleanGeneral"
                        [value]="item.value">{{ item.label }}
                </option>
              </select>
            </div>
            <div class="form-check col-sm-2 align-self-center form-switch">
              <label class="form-check-label" for="flexSwitchCheckDefault">
                خارج الملاك الوظيفي</label>
              <input
                formControlName="outsideStaffing"
                mdbCheckbox
                class="form-check-input"
                type="checkbox"
                id="flexSwitchCheckDefault" />

            </div>
            <div class="form-check col-sm-2 align-self-center form-switch">
              <label  for="flexSwitchTypePositionNationality">
                {{ isChecked ? 'محجوزة' : 'غير محجوزة' }}
              </label>
              <input
                formControlName="typePositionNationality"
                mdbCheckbox
                class="form-check-input"
                type="checkbox"
                id="flexSwitchTypePositionNationality"
                (change)="toggleCheckbox()" />
            </div>
<!--            <div class="col-md-2 align-self-center">-->
<!--              <input  formControlName="outsideStaffing" type="checkbox" class="form-check-input" id="inlineFormCheckOutsideStaffing" />-->
<!--              <label   for="inlineFormCheckOutsideStaffing" class="form-check-label px-2">خارج الملاك الوظيفي</label>-->
<!--            </div>-->
            <div class="form-group col-md-3  align-self-end" >
              إضافة ملاحظة

              <button (click)="addNote()" class="btn drp-icon btn-rounded btn-success" ngbDropdownToggle type="button">
                <i class="feather icon-plus"></i>
              </button>
              <!--            <button type="button"  class="btn btn-themeAdd" (click)="addNote()">إضافة ملاحظة</button>-->
            </div>
          </div>
          <div formArrayName="Notes" >
            <div *ngFor="let family of Notes.controls; let i=index" [formGroupName]="i">
              <div class="row">
                <div class="form-group col-md-5">
                  <label for="familyName{{i}}">الملاحظة</label>
                  <input type="text" class="form-control" id="familyName{{i}}" formControlName="text" required>
                  <div *ngIf="getControl(family , 'text')?.invalid && (getControl(family, 'text')?.dirty || getControl(family , 'text')?.touched)" class="text-danger">
                    رجاء ادخال الملاحظة.
                  </div>
                </div>


                <div class="form-group col-md-1  align-self-end">
                  <a mat-button (click)="removeNote(i)" type="button" aria-hidden="true" class="close mat-button"
                     data-notify="dismiss"> <i class="material-icons text-danger">close</i></a>

                  <!--                        <a type="button" class="btn btn-danger btn-sm" >-->
                  <!--                          <i class="fas fa-trash-alt"></i>-->
                  <!--                        </a>-->
                </div>
              </div>
            </div>
          </div>
          <button type="button" (click)="onAdd()" class="btn btn-md btn-themeAdd has-ripple">حفظ</button>
          <button type="button" (click)="onReset()" class="btn btn-md btn-themeNew has-ripple">جديد</button>
        </form>



      </div>
    </div>
  </div>
  <div class="col-xl-12">
    <app-card cardTitle="البحث" [options]="false" blockClass="table-border-style">
      <form [formGroup]="registerFormSearch" action="javascript:" class="row row-cols-md-auto g-3 align-items-center ">
        <div class="form-group col-md-3">
          <label for="inlineFormInputPositionCode">رقم الوظيفة</label>
          <input
            type="text"  formControlName="PositionCode" class="form-control" id="inlineFormInputPositionCode" />
        </div>
        <div class="form-group col-md-3">
          <label for="inlineFormInputPositionCode">رمز الوظيفة</label>
          <input
            type="text"  formControlName="JobTitleId" class="form-control" id="JobTitleId" />
        </div>
<!--        <div class="form-group col-md-3">-->
<!--          <label>رمز الوظيفة</label>-->
<!--&lt;!&ndash;          <select (change)="getJobTitleId()" formControlName="JobTitleId" class="form-select" required aria-label="select example">&ndash;&gt;-->
<!--          <select  formControlName="JobTitleId" class="form-select" required aria-label="select example">-->
<!--            <option value="" selected disabled>اختر...</option>-->
<!--            <option (click)="getJobTitleId()"  *ngFor="let item of  jobTitleFacade.JobTitles$ | async"-->
<!--                      [value]="item.id">{{ item.jobCode }}-->
<!--            </option>-->
<!--          </select>-->
<!--          </div>-->
<!--        <div class="col-12  ">-->
<!--          <button type="button" (click)="onSearch()" class="btn btn-md btn-themeAdd has-ripple">بحث</button>-->
<!--        </div>-->
        <div class="col-12">
          <button type="button" class="btn btn-outline-info" (click)="onSearch()">
            بحث
            <i class="feather icon-info"></i>
          </button>
        </div>
        <div *ngIf="(definitionPositionFacade.position$ | async).length != 0" class= "form-check  form-switch">
          <input

            mdbCheckbox
            class="form-check-input"
            type="checkbox" (change)="filterPositions($event)"
          />
          <label class="form-check-label" >
            وظائف خارج الملاك الوظيفي فقط
          </label>
        </div>
      </form>
      <br>
      <div class="table-responsive">

        <table class="table table-striped  table-hover"  >
          <thead>
          <th>رقم الوظيفة</th>
          <th> رمز الوظيفة</th>
          <th> اسم الوظيفة</th>
          <th>  الموقع</th>
<!--          <th> رمز التكلفة</th>-->
          <th>الوحدة التنظيمية</th>
          <th>نوع الوظيفة</th>
          <th>تاريخ سريان على وظيفة</th>

          <th></th>
          </thead>
          <tbody *ngIf="filteredPositions.length == 0">
          <tr  *ngFor="let item of definitionPositionFacade.position$ | async ; let i = index" [ngClass]="{'table-theme': item.outsideStaffing == true}">
<!--          <tr *ngFor="let item of filteredPositions ; let i = index" [ngClass]="{'bg-success': item.outsideStaffing == true}">-->
             <td>{{ item.positionCode }}</td>
            <td>{{ item.jobCode }}</td>
            <td>{{ item.jobTitleName }}</td>
            <td>{{ item.locationName }}</td>
<!--            <td>{{ item.costCenterCode }}</td>-->
            <td>{{ item.organizationStructureName }}</td>

            <td>{{ item.positionType == 2 ? 'أجنبي' : 'ليبي' }}</td>
            <td>{{ item.approvalDate | date}}</td>
            <td class="td-actions text-right">
<!--              <a mat-button  (click)="onEdit(item)" type="button"-->
<!--                 aria-hidden="true" class="edit mat-button " data-notify="dismiss"> <i-->
<!--                class="material-icons text-warning">edit</i></a>-->
              <a mat-button (click)="onDelete(item.id)" type="button" aria-hidden="true" class="close mat-button"
                 data-notify="dismiss"> <i class="material-icons text-danger">close</i></a>


            </td>
          </tr>
          </tbody>
          <tbody *ngIf="filteredPositions.length != 0">
          <tr *ngFor="let item of filteredPositions; let i = index" [ngClass]="{'table-theme': item.outsideStaffing == true}">
<!--          <tr *ngFor="let item of filteredPositions ; let i = index" [ngClass]="{'bg-success': item.outsideStaffing == true}">-->
             <td>{{ item.positionCode }}</td>
            <td>{{ item.jobTitleName }}</td>
            <td>{{ item.locationName }}</td>
<!--            <td>{{ item.costCenterCode }}</td>-->
            <td>{{ item.organizationStructureName }}</td>

            <td>{{ item.positionType == 2 ? 'أجنبي' : 'ليبي' }}</td>
            <td>{{ item.approvalDate | date}}</td>
            <td class="td-actions text-right">
<!--              <a mat-button  (click)="onEdit(item)" type="button"-->
<!--                 aria-hidden="true" class="edit mat-button " data-notify="dismiss"> <i-->
<!--                class="material-icons text-warning">edit</i></a>-->
              <a mat-button (click)="onDelete(item.id)" type="button" aria-hidden="true" class="close mat-button"
                 data-notify="dismiss"> <i class="material-icons text-danger">close</i></a>


            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </app-card>
  </div>
</div>






