<div class="row">
  <!-- site Analytics card start -->
  <div class="col-xl-7 col-sm-12">
    <div class="row">
      <div class="col-sm-6">
        <app-card [hidHeader]="true" cardClass="support-bar overflow-hidden" blockClass="p-0" [isCardFooter]="true" footerClass="bg-primary text-white">
          <div class="p-20 pb-0">
            <h2 class="m-0">350</h2>
            <span class="text-c-blue">Support Requests</span>
            <p class="mb-3 mt-3">Total number of support requests that come in.</p>
          </div>
          <app-apex-chart chartID="support-chart-1" [chartConfig]="this.supportChartData1"></app-apex-chart>
          <div class="app-card-footer">
            <div class="row text-center">
              <div class="col">
                <h4 class="m-0 text-white">10</h4>
                <span>Open</span>
              </div>
              <div class="col">
                <h4 class="m-0 text-white">5</h4>
                <span>Running</span>
              </div>
              <div class="col">
                <h4 class="m-0 text-white">3</h4>
                <span>Solved</span>
              </div>
            </div>
          </div>
        </app-card>
      </div>
      <div class="col-sm-6">
        <app-card [hidHeader]="true" cardClass="support-bar overflow-hidden" blockClass="p-0" [isCardFooter]="true" footerClass="bg-success text-white">
          <div class="p-20 pb-0">
            <h2 class="m-0">350</h2>
            <span class="text-c-green">Support Requests</span>
            <p class="mb-3 mt-3">Total number of support requests that come in.</p>
          </div>
          <app-apex-chart chartID="support-chart-2" [chartConfig]="this.supportChartData2"></app-apex-chart>
          <div class="app-card-footer">
            <div class="row text-center">
              <div class="col">
                <h4 class="m-0 text-white">10</h4>
                <span>Open</span>
              </div>
              <div class="col">
                <h4 class="m-0 text-white">5</h4>
                <span>Running</span>
              </div>
              <div class="col">
                <h4 class="m-0 text-white">3</h4>
                <span>Solved</span>
              </div>
            </div>
          </div>
        </app-card>
      </div>
    </div>
  </div>
  <div class="col-xl-5 col-sm-12">
    <div class="row">
      <div class="col-md-6">
        <app-card [hidHeader]="true" [isCardFooter]="true" footerClass="bg-c-yellow">
          <div class="row align-items-center">
            <div class="col-8">
              <h4 class="text-c-yellow">$30200</h4>
              <h6 class="text-muted m-b-0">All Earnings</h6>
            </div>
            <div class="col-4 text-right">
              <i class="feather icon-bar-chart-2 f-28"></i>
            </div>
          </div>
          <div class="app-card-footer">
            <div class="row align-items-center">
              <div class="col-9">
                <p class="text-white m-b-0">% change</p>
              </div>
              <div class="col-3 text-right">
                <i class="feather icon-trending-up text-white f-16"></i>
              </div>
            </div>
          </div>
        </app-card>
      </div>
      <div class="col-md-6">
        <app-card [hidHeader]="true" [isCardFooter]="true" footerClass="bg-c-green">
          <div class="row align-items-center">
            <div class="col-8">
              <h4 class="text-c-green">290+</h4>
              <h6 class="text-muted m-b-0">Page Views</h6>
            </div>
            <div class="col-4 text-right">
              <i class="feather icon-file-text f-28"></i>
            </div>
          </div>
          <div class="app-card-footer">
            <div class="row align-items-center">
              <div class="col-9">
                <p class="text-white m-b-0">% change</p>
              </div>
              <div class="col-3 text-right">
                <i class="feather icon-trending-up text-white f-16"></i>
              </div>
            </div>
          </div>
        </app-card>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <app-card [hidHeader]="true" [isCardFooter]="true" footerClass="bg-c-red">
          <div class="row align-items-center">
            <div class="col-8">
              <h4 class="text-c-red">145</h4>
              <h6 class="text-muted m-b-0">Task</h6>
            </div>
            <div class="col-4 text-right">
              <i class="feather icon-calendar f-28"></i>
            </div>
          </div>
          <div class="app-card-footer">
            <div class="row align-items-center">
              <div class="col-9">
                <p class="text-white m-b-0">% change</p>
              </div>
              <div class="col-3 text-right">
                <i class="feather icon-trending-down text-white f-16"></i>
              </div>
            </div>
          </div>
        </app-card>
      </div>
      <div class="col-md-6">
        <app-card [hidHeader]="true" [isCardFooter]="true" footerClass="bg-c-blue">
          <div class="row align-items-center">
            <div class="col-8">
              <h4 class="text-c-blue">500</h4>
              <h6 class="text-muted m-b-0">Downloads</h6>
            </div>
            <div class="col-4 text-right">
              <i class="feather icon-thumbs-down f-28"></i>
            </div>
          </div>
          <div class="app-card-footer">
            <div class="row align-items-center">
              <div class="col-9">
                <p class="text-white m-b-0">% change</p>
              </div>
              <div class="col-3 text-right">
                <i class="feather icon-trending-down text-white f-16"></i>
              </div>
            </div>
          </div>
        </app-card>
      </div>
    </div>
  </div>
  <!-- site Analytics card end -->

  <!-- project and team member start -->
  <div class="col-xl-6 col-md-12">
    <app-card cardTitle="Projects" cardClass="table-card" blockClass="p-0">
      <div class="table-responsive">
        <table class="table table-hover mb-0">
          <thead>
            <tr>
              <th>
                <div class="chk-option">
                  <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                    <input type="checkbox" class="custom-control-input">
                    <span class="custom-control-label"></span>
                  </label>
                </div>
                Assigned
              </th>
              <th>Name</th>
              <th>Due Date</th>
              <th class="text-right">Priority</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="chk-option">
                  <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                    <input type="checkbox" class="custom-control-input">
                    <span class="custom-control-label"></span>
                  </label>
                </div>
                <div class="d-inline-block align-middle">
                  <img src="assets/images/user/avatar-4.jpg" alt="user image" class="img-radius wid-40 align-top m-r-15">
                  <div class="d-inline-block">
                    <h6>John Deo</h6>
                    <p class="text-muted m-b-0">Graphics Designer</p>
                  </div>
                </div>
              </td>
              <td>Able Pro Angular Free Admin</td>
              <td>Jun, 26</td>
              <td class="text-right"><label class="badge badge-light-danger">Low</label></td>
            </tr>
            <tr>
              <td>
                <div class="chk-option">
                  <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                    <input type="checkbox" class="custom-control-input">
                    <span class="custom-control-label"></span>
                  </label>
                </div>
                <div class="d-inline-block align-middle">
                  <img src="assets/images/user/avatar-2.jpg" alt="user image" class="img-radius wid-40 align-top m-r-15">
                  <div class="d-inline-block">
                    <h6>Jenifer Vintage</h6>
                    <p class="text-muted m-b-0">Web Designer</p>
                  </div>
                </div>
              </td>
              <td>Mashable</td>
              <td>March, 31</td>
              <td class="text-right"><label class="badge badge-light-primary">high</label></td>
            </tr>
            <tr>
              <td>
                <div class="chk-option">
                  <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                    <input type="checkbox" class="custom-control-input">
                    <span class="custom-control-label"></span>
                  </label>
                </div>
                <div class="d-inline-block align-middle">
                  <img src="assets/images/user/avatar-3.jpg" alt="user image" class="img-radius wid-40 align-top m-r-15">
                  <div class="d-inline-block">
                    <h6>William Jem</h6>
                    <p class="text-muted m-b-0">Developer</p>
                  </div>
                </div>
              </td>
              <td>Flatable</td>
              <td>Aug, 02</td>
              <td class="text-right"><label class="badge badge-light-success">medium</label></td>
            </tr>
            <tr>
              <td>
                <div class="chk-option">
                  <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                    <input type="checkbox" class="custom-control-input">
                    <span class="custom-control-label"></span>
                  </label>
                </div>
                <div class="d-inline-block align-middle">
                  <img src="assets/images/user/avatar-2.jpg" alt="user image" class="img-radius wid-40 align-top m-r-15">
                  <div class="d-inline-block">
                    <h6>David Jones</h6>
                    <p class="text-muted m-b-0">Developer</p>
                  </div>
                </div>
              </td>
              <td>Guruable</td>
              <td>Sep, 22</td>
              <td class="text-right"><label class="badge badge-light-primary">high</label></td>
            </tr>
          </tbody>
        </table>
      </div>
    </app-card>
  </div>
  <div class="col-xl-6 col-md-12">
    <app-card cardTitle="Latest Updates" cardClass="latest-update-card">
      <div class="latest-update-box">
        <div class="row p-t-30 p-b-30">
          <div class="col-auto text-right update-meta">
            <p class="text-muted m-b-0 d-inline-flex">2 hrs ago</p>
            <i class="feather icon-twitter bg-twitter update-icon"></i>
          </div>
          <div class="col">
            <a href="javascript:">
              <h6>+ 1652 Followers</h6>
            </a>
            <p class="text-muted m-b-0">You’re getting more and more followers, keep it up!</p>
          </div>
        </div>
        <div class="row p-b-30">
          <div class="col-auto text-right update-meta">
            <p class="text-muted m-b-0 d-inline-flex">4 hrs ago</p>
            <i class="feather icon-briefcase bg-c-red update-icon"></i>
          </div>
          <div class="col">
            <a href="javascript:">
              <h6>+ 5 New Products were added!</h6>
            </a>
            <p class="text-muted m-b-0">Congratulations!</p>
          </div>
        </div>
        <div class="row p-b-0">
          <div class="col-auto text-right update-meta">
            <p class="text-muted m-b-0 d-inline-flex">2 day ago</p>
            <i class="feather icon-facebook bg-facebook update-icon"></i>
          </div>
          <div class="col">
            <a href="javascript:">
              <h6>+1 Friend Requests</h6>
            </a>
            <p class="text-muted m-b-10">This is great, keep it up!</p>
            <div class="table-responsive">
              <table class="table table-hover">
                <tr>
                  <td class="b-none">
                    <a href="javascript:" class="align-middle">
                      <img src="assets/images/user/avatar-2.jpg" alt="user image" class="img-radius wid-40 align-top m-r-15">
                      <div class="d-inline-block">
                        <h6>Jeny William</h6>
                        <p class="text-muted m-b-0">Graphic Designer</p>
                      </div>
                    </a>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <a href="javascript:" class="b-b-primary text-primary">View all Projects</a>
      </div>
    </app-card>
  </div>
  <!-- project and team member end -->

  <!-- seo start -->
  <div class="col-xl-4 col-md-12">
    <app-card [hidHeader]="true">
      <div class="row align-items-center">
        <div class="col-6">
          <h3>$16,756</h3>
          <h6 class="text-muted m-b-0">Visits<i class="fa fa-caret-down text-c-red m-l-10"></i></h6>
        </div>
        <div class="col-6">
          <app-apex-chart chartID="seo-chart-1" [chartConfig]="this.seoChartData1"></app-apex-chart>
        </div>
      </div>
    </app-card>
  </div>
  <div class="col-xl-4 col-md-6">
    <app-card [hidHeader]="true">
      <div class="row align-items-center">
        <div class="col-6">
          <h3>49.54%</h3>
          <h6 class="text-muted m-b-0">Bounce Rate<i class="fa fa-caret-up text-c-green m-l-10"></i></h6>
        </div>
        <div class="col-6">
          <app-apex-chart chartID="seo-chart-2" [chartConfig]="this.seoChartData2"></app-apex-chart>
        </div>
      </div>
    </app-card>
  </div>
  <div class="col-xl-4 col-md-6">
    <app-card [hidHeader]="true">
      <div class="row align-items-center">
        <div class="col-6">
          <h3>1,62,564</h3>
          <h6 class="text-muted m-b-0">Products<i class="fa fa-caret-down text-c-red m-l-10"></i></h6>
        </div>
        <div class="col-6">
          <app-apex-chart chartID="seo-chart-3" [chartConfig]="this.seoChartData3"></app-apex-chart>
        </div>
      </div>
    </app-card>
  </div>
  <!-- seo end -->

  <!-- latest customers start -->
  <div class="col-lg-8 col-md-12">
    <app-card cardTitle="Customer Reviews" headerClass="borderless" cardClass="table-card review-card">
      <div class="review-block">
        <div class="row">
          <div class="col-sm-auto p-r-0">
            <img src="assets/images/user/avatar-2.jpg" alt="user image" class="img-radius profile-img cust-img m-b-15">
          </div>
          <div class="col">
            <h6 class="m-b-15">John Deo <span class="float-right f-13 text-muted"> a week ago</span></h6>
            <a href="javascript:"><i class="feather icon-star-on f-18 text-c-yellow"></i></a>
            <a href="javascript:"><i class="feather icon-star-on f-18 text-c-yellow"></i></a>
            <a href="javascript:"><i class="feather icon-star-on f-18 text-c-yellow"></i></a>
            <a href="javascript:"><i class="feather icon-star f-18 text-muted"></i></a>
            <a href="javascript:"><i class="feather icon-star f-18 text-muted"></i></a>
            <p class="m-t-15 m-b-15 text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
              took a
              galley of type and scrambled it to make a type specimen book.</p>
            <a href="javascript:" class="m-r-30 text-muted"><i class="feather icon-thumbs-up m-r-15"></i>Helpful?</a>
            <a href="javascript:"><i class="feather icon-heart-on text-c-red m-r-15"></i></a>
            <a href="javascript:"><i class="feather icon-edit text-muted"></i></a>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-auto p-r-0">
            <img src="assets/images/user/avatar-4.jpg" alt="user image" class="img-radius profile-img cust-img m-b-15">
          </div>
          <div class="col">
            <h6 class="m-b-15">Allina D’croze <span class="float-right f-13 text-muted"> a week ago</span></h6>
            <a href="javascript:"><i class="feather icon-star-on f-18 text-c-yellow"></i></a>
            <a href="javascript:"><i class="feather icon-star f-18 text-muted"></i></a>
            <a href="javascript:"><i class="feather icon-star f-18 text-muted"></i></a>
            <a href="javascript:"><i class="feather icon-star f-18 text-muted"></i></a>
            <a href="javascript:"><i class="feather icon-star f-18 text-muted"></i></a>
            <p class="m-t-15 m-b-15 text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
              took a
              galley of type and scrambled it to make a type specimen book.</p>
            <a href="javascript:" class="m-r-30 text-muted"><i class="feather icon-thumbs-up m-r-15"></i>Helpful?</a>
            <a href="javascript:"><i class="feather icon-heart-on text-c-red m-r-15"></i></a>
            <a href="javascript:"><i class="feather icon-edit text-muted"></i></a>
            <blockquote class="blockquote m-t-15 m-b-0">
              <h6>Allina D’croze</h6>
              <p class="m-b-0 text-muted">Lorem Ipsum is simply dummy text of the industry.</p>
            </blockquote>
          </div>
        </div>
      </div>
      <div class="text-right  m-r-20">
        <a href="javascript:" class="b-b-primary text-primary">View all Customer Reviews</a>
      </div>
    </app-card>
    <div class="row">
      <div class="col-sm-6">
        <app-card [hidHeader]="true">
          <h5 class="mb-3">Power</h5>
          <h2>2789<span class="text-muted m-l-5 f-14">kw</span></h2>
          <app-apex-chart chartID="power-card-chart-1" [chartConfig]="this.powerCardChartData1"></app-apex-chart>
          <div class="row">
            <div class="col col-auto">
              <div class="map-area">
                <h6 class="m-0">2876 <span> kw</span></h6>
                <p class="text-muted m-0">month</p>
              </div>
            </div>
            <div class="col col-auto">
              <div class="map-area">
                <h6 class="m-0">234 <span> kw</span></h6>
                <p class="text-muted m-0">Today</p>
              </div>
            </div>
          </div>
        </app-card>
      </div>
      <div class="col-sm-6">
        <app-card [hidHeader]="true">
          <h5 class="mb-3">Temperature</h5>
          <h2>7.3<span class="text-muted m-l-10 f-14">deg</span></h2>
          <app-apex-chart chartID="power-card-chart-2" [chartConfig]="this.powerCardChartData2"></app-apex-chart>
          <div class="row">
            <div class="col col-auto">
              <div class="map-area">
                <h6 class="m-0">4.5 <span> deg</span></h6>
                <p class="text-muted m-0">month</p>
              </div>
            </div>
            <div class="col col-auto">
              <div class="map-area">
                <h6 class="m-0">0.5 <span> deg</span></h6>
                <p class="text-muted m-0">Today</p>
              </div>
            </div>
          </div>
        </app-card>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-12">
    <app-card cardTitle="Chat" cardClass="chat-card">
      <div class="row m-b-20 m-t-20 received-chat">
        <div class="col-auto p-r-0">
          <img src="assets/images/user/avatar-2.jpg" alt="user image" class="img-radius wid-40">
        </div>
        <div class="col">
          <div class="msg">
            <p class="m-b-0">Nice to meet you!</p>
          </div>
          <p class="text-muted m-b-0"><i class="fa fa-clock-o m-r-10"></i>10:20am</p>
        </div>
      </div>
      <div class="row m-b-20 send-chat">
        <div class="col">
          <div class="msg">
            <p class="m-b-0">Nice to meet you!</p>
          </div>
          <p class="text-muted m-b-0"><i class="fa fa-clock-o m-r-10"></i>10:20am</p>
        </div>
        <div class="col-auto p-l-0">
          <img src="assets/images/user/avatar-3.jpg" alt="user image" class="img-radius wid-40">
        </div>
      </div>
      <div class="row m-b-20 received-chat">
        <div class="col-auto p-r-0">
          <img src="assets/images/user/avatar-2.jpg" alt="user image" class="img-radius wid-40">
        </div>
        <div class="col">
          <div class="msg">
            <p class="m-b-0">Nice to meet you!</p>
            <img src="assets/images/widget/dashborad-1.jpg" alt="">
            <img src="assets/images/widget/dashborad-3.jpg" alt="">
          </div>
          <p class="text-muted m-b-0"><i class="fa fa-clock-o m-r-10"></i>10:20am</p>
        </div>
      </div>
      <div class="form-group m-t-15">
        <label class="floating-label" for="Project">Send message</label>
        <input type="text" name="task-insert" class="form-control" id="Project">
        <div class="form-icon">
          <button class="btn btn-primary btn-icon">
            <i class="feather icon-message-circle"></i>
          </button>
        </div>
      </div>
    </app-card>
    <app-card [hidHeader]="true" cardClass="user-card2" blockClass="text-center">
      <h6 class="m-b-15">Project Risk</h6>
      <div class="risk-rate">
        <span><b>5</b></span>
      </div>
      <h6 class="m-b-10 m-t-10">Balanced</h6>
      <a href="javascript:" class="text-c-green b-b-success">Change Your Risk</a>
      <div class="row justify-content-center m-t-10 b-t-default m-l-0 m-r-0">
        <div class="col m-t-15 b-r-default">
          <h6 class="text-muted">Nr</h6>
          <h6>AWS 2455</h6>
        </div>
        <div class="col m-t-15">
          <h6 class="text-muted">Created</h6>
          <h6>30th Sep</h6>
        </div>
      </div>
    </app-card>
  </div>
  <!-- latest customers end -->

</div>
