<li data-username="Datta Able Angular Admin Template" class="nav-item pcoded-hasmenu" [routerLinkActive]="['active']">
  <a [routerLinkActive]="['active']" href="javascript:void(0)" class="nav-link" (click)="navCollapse($event)">
    @if (item().icon) {
      <span class="pcoded-micon">
        <i class="{{ item().icon }}"></i>
      </span>
    }
    <span class="pcoded-mtext">
      {{ item().title }}
    </span>
  </a>
  <ul class="pcoded-submenu" [routerLinkActive]="['active']">
    @for (items of item().children; track items) {
      @if (items.type === 'item') {
        <app-nav-item [item]="items" />
      }
      @if (items.type === 'collapse') {
        <app-nav-collapse [item]="items" />
      }
    }
  </ul>
</li>
