<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="Border" [options]="false">
      <div class="row">
        <div class="col-sm-12">
          <h5>Border color</h5>
          <hr>
          <span class="hei-75 wid-75 bg-light d-inline-block mr-2 border border-primary" placement="auto" ngbTooltip="border-primary"></span>
          <span class="hei-75 wid-75 bg-light d-inline-block mr-2 border border-secondary" placement="auto" ngbTooltip="border-secondary"></span>
          <span class="hei-75 wid-75 bg-light d-inline-block mr-2 border border-success" placement="auto" ngbTooltip="border-success"></span>
          <span class="hei-75 wid-75 bg-light d-inline-block mr-2 border border-danger" placement="auto" ngbTooltip="border-danger"></span>
          <span class="hei-75 wid-75 bg-light d-inline-block mr-2 border border-warning" placement="auto" ngbTooltip="border-warning"></span>
          <span class="hei-75 wid-75 bg-light d-inline-block mr-2 border border-info" placement="auto" ngbTooltip="border-info"></span>
          <span class="hei-75 wid-75 bg-light d-inline-block mr-2 border border-light" placement="auto" ngbTooltip="border-light"></span>
          <span class="hei-75 wid-75 bg-light d-inline-block mr-2 border border-dark" placement="auto" ngbTooltip="border-dark"></span>
          <span class="hei-75 wid-75 bg-light d-inline-block mr-2 border border-white" placement="auto" ngbTooltip="border-white"></span>
        </div>
        <div class="col-md-6 additive">
          <h5 class="mt-5">Additive</h5>
          <hr>
          <span class="hei-75 wid-75 bg-light d-inline-block mr-2 border" placement="auto" ngbTooltip="border"></span>
          <span class="hei-75 wid-75 bg-light d-inline-block mr-2 border-top" placement="auto" ngbTooltip="border-top"></span>
          <span class="hei-75 wid-75 bg-light d-inline-block mr-2 border-right" placement="auto" ngbTooltip="border-right"></span>
          <span class="hei-75 wid-75 bg-light d-inline-block mr-2 border-bottom" placement="auto" ngbTooltip="border-bottom"></span>
          <span class="hei-75 wid-75 bg-light d-inline-block mr-2 border-left" placement="auto" ngbTooltip="border-left"></span>
        </div>
        <div class="col-sm-6">
          <h5 class="mt-5">Subtractive</h5>
          <hr>
          <span class="hei-75 wid-75 bg-light d-inline-block mr-2 border border-0" placement="auto" ngbTooltip="border border-0"></span>
          <span class="hei-75 wid-75 bg-light d-inline-block mr-2 border border-top-0" placement="auto" ngbTooltip="border border-top-0"></span>
          <span class="hei-75 wid-75 bg-light d-inline-block mr-2 border border-right-0" placement="auto" ngbTooltip="border border-right-0"></span>
          <span class="hei-75 wid-75 bg-light d-inline-block mr-2 border border-bottom-0" placement="auto" ngbTooltip="border border-bottom-0"></span>
          <span class="hei-75 wid-75 bg-light d-inline-block mr-2 border border-left-0" placement="auto" ngbTooltip="border border-left-0"></span>
        </div>
        <div class="col-sm-12">
          <h5 class="mt-5">Border-radius</h5>
          <hr>
          <span class="hei-75 wid-75 bg-light d-inline-block mr-2 border border-secondary rounded" placement="auto" ngbTooltip="rounded"></span>
          <span class="hei-75 wid-75 bg-light d-inline-block mr-2 border border-secondary rounded-top" placement="auto" ngbTooltip="rounded-top"></span>
          <span class="hei-75 wid-75 bg-light d-inline-block mr-2 border border-secondary rounded-right" placement="auto" ngbTooltip="rounded-right"></span>
          <span class="hei-75 wid-75 bg-light d-inline-block mr-2 border border-secondary rounded-bottom" placement="auto" ngbTooltip="rounded-bottom"></span>
          <span class="hei-75 wid-75 bg-light d-inline-block mr-2 border border-secondary rounded-left" placement="auto" ngbTooltip="rounded-left"></span>
          <span class="hei-75 wid-75 bg-light d-inline-block mr-2 border border-secondary rounded-circle" placement="auto" ngbTooltip="rounded-circle"></span>
          <span class="hei-75 wid-120 bg-light d-inline-block mr-2 border border-secondary rounded-pill" placement="auto" ngbTooltip="rounded-pill"></span>
          <span class="hei-75 wid-75 bg-light d-inline-block mr-2 border border-secondary rounded-0" placement="auto" ngbTooltip="rounded-0"></span>
        </div>
      </div>
    </app-card>
  </div>

  <div class="col-sm-12">
    <app-card cardTitle="Utility class" [options]="false" cardClass="utility-card">
      <div class="row">
        <div class="col-md-6">
          <h6 class="mb-0">Margin </h6>
          <hr class="my-2">
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="margin-0">.m-0</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="margin-5">.m-5</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="margin-10">.m-10</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="margin-15">.m-15</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="margin-20">.m-20</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="margin-25">.m-25</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="margin-30">.m-30</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="margin-35">.m-35</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="margin-40">.m-40</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="margin-45">.m-45</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="margin-50">.m-50</label>
          <h6 class="mb-0 mt-3">Margin top</h6>
          <hr class="my-2">
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="margin-top-0">.m-t-0</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="margin-top-5">.m-t-5</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="margin-top-10">.m-t-10</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="margin-top-15">.m-t-15</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="margin-top-20">.m-t-20</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="margin-top-25">.m-t-25</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="margin-top-30">.m-t-30</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="margin-top-35">.m-t-35</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="margin-top-40">.m-t-40</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="margin-top-45">.m-t-45</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="margin-top-50">.m-t-50</label>
          <h6 class="mb-0 mt-3">Margin bottom</h6>
          <hr class="my-2">
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="margin-bottom-0">.m-b-0</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="margin-bottom-5">.m-b-5</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="margin-bottom-10">.m-b-10</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="margin-bottom-15">.m-b-15</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="margin-bottom-20">.m-b-20</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="margin-bottom-25">.m-b-25</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="margin-bottom-30">.m-b-30</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="margin-bottom-35">.m-b-35</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="margin-bottom-40">.m-b-40</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="margin-bottom-45">.m-b-45</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="margin-bottom-50">.m-b-50</label>
          <h6 class="mb-0 mt-3">Margin left</h6>
          <hr class="my-2">
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="margin-left-0">.m-l-0</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="margin-left-5">.m-l-5</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="margin-left-10">.m-l-10</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="margin-left-15">.m-l-15</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="margin-left-20">.m-l-20</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="margin-left-25">.m-l-25</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="margin-left-30">.m-l-30</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="margin-left-35">.m-l-35</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="margin-left-40">.m-l-40</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="margin-left-45">.m-l-45</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="margin-left-50">.m-l-50</label>
          <h6 class="mb-0 mt-3">Margin right</h6>
          <hr class="my-2">
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="margin-right-0">.m-r-0</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="margin-right-5">.m-r-5</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="margin-right-10">.m-r-10</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="margin-right-15">.m-r-15</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="margin-right-20">.m-r-20</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="margin-right-25">.m-r-25</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="margin-right-30">.m-r-30</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="margin-right-35">.m-r-35</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="margin-right-40">.m-r-40</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="margin-right-45">.m-r-45</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="margin-right-50">.m-r-50</label>
        </div>
        <div class="col-md-6">
          <h6 class="mb-0">Padding</h6>
          <hr class="my-2">
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="padding-0">.p-0</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="padding-5">.p-5</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="padding-10">.p-10</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="padding-15">.p-15</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="padding-20">.p-20</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="padding-25">.p-25</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="padding-30">.p-30</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="padding-35">.p-35</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="padding-40">.p-40</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="padding-45">.p-45</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="padding-50">.p-50</label>
          <h6 class="mb-0 mt-3">Padding top</h6>
          <hr class="my-2">
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="padding-top-0">.p-t-0</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="padding-top-5">.p-t-5</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="padding-top-10">.p-t-10</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="padding-top-15">.p-t-15</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="padding-top-20">.p-t-20</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="padding-top-25">.p-t-25</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="padding-top-30">.p-t-30</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="padding-top-35">.p-t-35</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="padding-top-40">.p-t-40</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="padding-top-45">.p-t-45</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="padding-top-50">.p-t-50</label>
          <h6 class="mb-0 mt-3">Padding bottom</h6>
          <hr class="my-2">
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="padding-bottom-0">.p-b-0</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="padding-bottom-5">.p-b-5</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="padding-bottom-10">.p-b-10</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="padding-bottom-15">.p-b-15</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="padding-bottom-20">.p-b-20</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="padding-bottom-25">.p-b-25</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="padding-bottom-30">.p-b-30</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="padding-bottom-35">.p-b-35</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="padding-bottom-40">.p-b-40</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="padding-bottom-45">.p-b-45</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="padding-bottom-50">.p-b-50</label>
          <h6 class="mb-0 mt-3">Padding left</h6>
          <hr class="my-2">
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="padding-left-0">.p-l-0</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="padding-left-5">.p-l-5</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="padding-left-10">.p-l-10</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="padding-left-15">.p-l-15</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="padding-left-20">.p-l-20</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="padding-left-25">.p-l-25</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="padding-left-30">.p-l-30</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="padding-left-35">.p-l-35</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="padding-left-40">.p-l-40</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="padding-left-45">.p-l-45</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="padding-left-50">.p-l-50</label>
          <h6 class="mb-0 mt-3">Padding right</h6>
          <hr class="my-2">
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="padding-right-0">.p-r-0</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="padding-right-5">.p-r-5</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="padding-right-10">.p-r-10</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="padding-right-15">.p-r-15</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="padding-right-20">.p-r-20</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="padding-right-25">.p-r-25</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="padding-right-30">.p-r-30</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="padding-right-35">.p-r-35</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="padding-right-40">.p-r-40</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="padding-right-45">.p-r-45</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="padding-right-50">.p-r-50</label>
        </div>
        <div class="col-md-6">
          <h6 class="mb-0 mt-3">Width </h6>
          <hr class="my-2">
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="width-20">.wid-20</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="width-25">.wid-25</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="width-30">.wid-30</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="width-35">.wid-35</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="width-40">.wid-40</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="width-45">.wid-45</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="width-50">.wid-50</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="width-55">.wid-55</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="width-60">.wid-60</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="width-65">.wid-65</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="width-70">.wid-70</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="width-75">.wid-75</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="width-80">.wid-80</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="width-85">.wid-85</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="width-90">.wid-90</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="width-95">.wid-95</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="width-100">.wid-100</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="width-105">.wid-105</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="width-110">.wid-110</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="width-115">.wid-115</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="width-120">.wid-120</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="width-125">.wid-125</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="width-130">.wid-130</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="width-135">.wid-135</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="width-140">.wid-140</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="width-145">.wid-145</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="width-150">.wid-150</label>
        </div>
        <div class="col-md-6">
          <h6 class="mb-0 mt-3">Height </h6>
          <hr class="my-2">
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="height-20">.hei-20</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="height-25">.hei-25</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="height-30">.hei-30</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="height-35">.hei-35</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="height-40">.hei-40</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="height-45">.hei-45</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="height-50">.hei-50</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="height-55">.hei-55</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="height-60">.hei-60</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="height-65">.hei-65</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="height-70">.hei-70</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="height-75">.hei-75</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="height-80">.hei-80</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="height-85">.hei-85</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="height-90">.hei-90</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="height-95">.hei-95</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="height-100">.hei-100</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="height-105">.hei-105</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="height-110">.hei-110</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="height-115">.hei-115</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="height-120">.hei-120</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="height-125">.hei-125</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="height-130">.hei-130</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="height-135">.hei-135</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="height-140">.hei-140</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="height-145">.hei-145</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="height-150">.hei-150</label>
        </div>
        <div class="col-md-12">
          <h6 class="mb-0 mt-3">Font-size </h6>
          <hr class="my-2">
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="font-size-10">.f-10</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="font-size-12">.f-12</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="font-size-14">.f-14</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="font-size-16">.f-16</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="font-size-18">.f-18</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="font-size-20">.f-20</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="font-size-22">.f-22</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="font-size-24">.f-24</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="font-size-26">.f-26</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="font-size-28">.f-28</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="font-size-30">.f-30</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="font-size-32">.f-32</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="font-size-34">.f-34</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="font-size-36">.f-36</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="font-size-38">.f-38</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="font-size-40">.f-40</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="font-size-42">.f-42</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="font-size-44">.f-44</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="font-size-46">.f-46</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="font-size-48">.f-48</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="font-size-50">.f-50</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="font-size-52">.f-52</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="font-size-54">.f-54</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="font-size-56">.f-56</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="font-size-58">.f-58</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="font-size-60">.f-60</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="font-size-62">.f-62</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="font-size-64">.f-64</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="font-size-66">.f-66</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="font-size-68">.f-68</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="font-size-70">.f-70</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="font-size-72">.f-72</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="font-size-74">.f-74</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="font-size-76">.f-76</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="font-size-78">.f-78</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="font-size-80">.f-80</label>
        </div>
        <div class="col-md-6">
          <h6 class="mb-0 mt-3">Font weight </h6>
          <hr class="my-2">
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="font-weight-100">.f-w-100</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="font-weight-200">.f-w-200</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="font-weight-300">.f-w-300</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="font-weight-400">.f-w-400</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="font-weight-500">.f-w-500</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="font-weight-600">.f-w-600</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="font-weight-700">.f-w-700</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="font-weight-800">.f-w-800</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="font-weight-900">.f-w-900</label>
        </div>
        <div class="col-md-6">
          <h6 class="mb-0 mt-3">Border width </h6>
          <hr class="my-2">
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="border-width-1">.b-wid-1</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="border-width-2">.b-wid-2</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="border-width-3">.b-wid-3</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="border-width-4">.b-wid-4</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="border-width-5">.b-wid-5</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="border-width-6">.b-wid-6</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="border-width-7">.b-wid-7</label>
          <label data-toggle="tooltip" class="badge badge-light-danger p-1" placement="auto" ngbTooltip="border-width-8">.b-wid-8</label>
        </div>
      </div>
    </app-card>
  </div>

  <div class="col-sm-12">
    <app-card cardTitle="Shadows" [options]="false">
      <div class="shadow-none p-3 mb-5 bg-light rounded">No shadow</div>
      <div class="shadow-sm p-3 mb-5 bg-white rounded">Small shadow</div>
      <div class="shadow p-3 mb-5 bg-white rounded">Regular shadow</div>
      <div class="shadow-lg p-3 mb-5 bg-white rounded">Larger shadow</div>
    </app-card>
  </div>
  <div class="col-sm-12">
    <app-card cardTitle="Embeds" [options]="false">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/oD-lmrfPECA?rel=0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </app-card>
  </div>
  <div class="col-sm-12">
    <app-card cardTitle="Aspect Ratios" [options]="false">
      <div class="row">
        <div class="col-md-6">
          <h5 class="mt-5">Aspect Ratios 21by9</h5>
          <hr>
          <div class="embed-responsive embed-responsive-21by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/BRlN__zn0RE?rel=0" allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-md-6">
          <h5 class="mt-5">Aspect Ratios 16by9</h5>
          <hr>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ZQ264Axbjxg?rel=0" allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-md-6">
          <h5 class="mt-5">Aspect Ratios 4by3</h5>
          <hr>
          <div class="embed-responsive embed-responsive-4by3">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/oD-lmrfPECA?rel=0" allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-md-6">
          <h5 class="mt-5">Aspect Ratios 1by1</h5>
          <hr>
          <div class="embed-responsive embed-responsive-1by1">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ilLU5vxhLYA?rel=0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </app-card>
  </div>
</div>
