/* You can add global styles to this file, and also import other style files */

@import 'scss/variables';

/* fonts-icon */
@import 'scss/fonts/fontawesome/scss/fontawesome';
@import 'scss/fonts/feather/iconfont';

@import 'scss/general';
@import 'scss/generic';
@import 'scss/mixins/function';

/* important element */
@import 'scss/menu/menu-lite';

/* basic elements */
@import 'scss/theme-elements/theme-elements';

/* third party modules style*/
@import 'scss/plugins/plugins';

@import 'scss/custom';
.form-check-input:checked {
  background-color: $purple-color;
  border-color: $purple-color;
}
.table-theme {
  --bs-table-color: #000;
  --bs-table-bg: #e4dcf4;
  --bs-table-border-color: #a389d4;
  --bs-table-striped-bg: #e4dcf4;
  --bs-table-striped-color: #000;
  --bs-table-active-bg: #e4dcf4;
  --bs-table-active-color: #000;
  --bs-table-hover-bg: #cac2d9;
  --bs-table-hover-color: #000;
  color: var(--bs-table-color);
  border-color: var(--bs-table-border-color);
}
