<div class="auth-wrapper">
  <div class="auth-content">
    <div class="card">
      <div class="row align-items-center text-center">
        <div class="col-md-12">
          <div class="card-body">
            <img src="assets/images/auth/auth-logo-dark.png" alt="" class="img-fluid mb-4">
            <h4 class="mb-3 f-w-400">Sign up</h4>
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Username">
            </div>
            <div class="input-group mb-3">
              <input type="email" class="form-control" placeholder="Email address">
            </div>
            <div class="input-group mb-4">
              <input type="password" class="form-control" placeholder="Password">
            </div>
            <div class="custom-control custom-checkbox text-left mb-4 mt-2">
              <input type="checkbox" class="custom-control-input" id="customCheck1">
              <label for="customCheck1" class="custom-control-label">Send me the <a href="javascript:"> Newsletter</a> weekly.</label>
            </div>
            <button class="btn btn-primary btn-block mb-4">Sign up</button>
            <p class="mb-2">Already have an account? <a [routerLink]="['/auth/signin']" class="f-w-400">Signin</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
