<div class="row btn-page">
  <div class="col-sm-12">
    <app-card cardTitle="Basic Badges" [options]="false">
      <h1>Example heading <span class="badge badge-secondary">New</span></h1>
      <h2>Example heading <span class="badge badge-secondary">New</span></h2>
      <h3>Example heading <span class="badge badge-secondary">New</span></h3>
      <h4>Example heading <span class="badge badge-secondary">New</span></h4>
      <h5>Example heading <span class="badge badge-secondary">New</span></h5>
      <h6>Example heading <span class="badge badge-secondary">New</span></h6>
    </app-card>
  </div>
  <div class="col-sm-12">
    <app-card cardTitle="Button Badges" [options]="false">
      <button type="button" class="btn btn-primary">primary <span class="badge badge-light">4</span></button>
      <button type="button" class="btn btn-secondary">secondary <span class="badge badge-light">4</span></button>
      <button type="button" class="btn btn-success">success <span class="badge badge-light">4</span></button>
      <button type="button" class="btn btn-danger">danger <span class="badge badge-light">4</span></button>
      <button type="button" class="btn btn-warning">warning <span class="badge badge-light">4</span></button>
      <button type="button" class="btn btn-info">info <span class="badge badge-light">4</span></button>
    </app-card>
  </div>
  <div class="col-sm-12">
    <app-card cardTitle="Contextual Variations" [options]="false">
      <span class="badge m-r-5 badge-primary">Primary</span>
      <span class="badge m-r-5 badge-secondary">Secondary</span>
      <span class="badge m-r-5 badge-success">Success</span>
      <span class="badge m-r-5 badge-danger">Danger</span>
      <span class="badge m-r-5 badge-warning">Warning</span>
      <span class="badge m-r-5 badge-info">Info</span>
      <span class="badge m-r-5 badge-light">Light</span>
      <span class="badge badge-dark">Dark</span>
    </app-card>
  </div>
  <div class="col-sm-12">
    <app-card cardTitle="Pill Badges" [options]="false">
      <span class="badge m-r-5 badge-pill badge-primary">Primary</span>
      <span class="badge m-r-5 badge-pill badge-secondary">Secondary</span>
      <span class="badge m-r-5 badge-pill badge-success">Success</span>
      <span class="badge m-r-5 badge-pill badge-danger">Danger</span>
      <span class="badge m-r-5 badge-pill badge-warning">Warning</span>
      <span class="badge m-r-5 badge-pill badge-info">Info</span>
      <span class="badge m-r-5 badge-pill badge-light">Light</span>
      <span class="badge badge-pill badge-dark">Dark</span>
    </app-card>
  </div>
  <div class="col-sm-12">
    <app-card cardTitle="Links" [options]="false">
      <a href="javascript:" class="badge m-r-5 badge-primary">Primary</a>
      <a href="javascript:" class="badge m-r-5 badge-secondary">Secondary</a>
      <a href="javascript:" class="badge m-r-5 badge-success">Success</a>
      <a href="javascript:" class="badge m-r-5 badge-danger">Danger</a>
      <a href="javascript:" class="badge m-r-5 badge-warning">Warning</a>
      <a href="javascript:" class="badge m-r-5 badge-info">Info</a>
      <a href="javascript:" class="badge m-r-5 badge-light">Light</a>
      <a href="javascript:" class="badge badge-dark">Dark</a>
    </app-card>
  </div>
  <div class="col-sm-12">
    <app-card cardTitle="Light variant" [options]="false">
      <span class="badge m-r-5 badge-light-primary">Primary</span>
      <span class="badge m-r-5 badge-light-secondary">Secondary</span>
      <span class="badge m-r-5 badge-light-success">Success</span>
      <span class="badge m-r-5 badge-light-danger">Danger</span>
      <span class="badge m-r-5 badge-light-warning">Warning</span>
      <span class="badge m-r-5 badge-light-info">Info</span>
      <span class="badge m-r-5 badge-light-light">Light</span>
      <span class="badge badge-light-dark">Dark</span>
    </app-card>
  </div>
</div>
